<div class="row">
  <div class="col">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><%= link_to("Home", root_path) %></li>
        <li class="breadcrumb-item active" aria-current="page">Profile</li>
      </ol>
    </nav>
  </div>
</div>

<div class="row">
  <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">

    <div class="card">
      <ul class="list-group list-group-flush">
        <li class="list-group-item text-break">
          Characters count: <%= current_user.characters.count %>
        </li>
        <li class="list-group-item text-break">
          <%= link_to("Two Factor Authentication", two_factor_path) %>
        </li>
        <li class="list-group-item text-break">
          <%= link_to("Change email and password", edit_user_registration_path) %>
        </li>
        <li class="list-group-item text-break">
          <%= link_to("Remove my profile with all data", edit_user_registration_path) %>
        </li>
      </ul>
    </div>

  </div>
</div>
