<div class="row">
  <div class="col">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><%= link_to("Home", root_path) %></li>
        <li class="breadcrumb-item active" aria-current="page">Change email and password</li>
      </ol>
    </nav>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-12 col-sm-12 col-md-8 col-lg-4 col-xl-4">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {method: :put}, data: {turbo: "false"}) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="form-group">
        <%= f.label :email, "Email address" %>
        <%= f.email_field :email, class: "form-control", placeholder: "Email address", autofocus: true, autocomplete: "email" %>
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <small class="form-text text-muted">Currently waiting confirmation for: <%= resource.unconfirmed_email %></small>
        <% end %>
      </div>

      <div class="form-group">
        <%= f.label :password, "Password (leave blank if you don't want to change it)" %>

        <div class="input-group" data-controller="password-visibility">
          <%= f.password_field :password,
                               data: {"password-visibility-target": "input"},
                               class: "form-control",
                               placeholder: "Password",
                               autocomplete: "new-password" %>
          <div class="input-group-append">
            <button type="button" data-action="password-visibility#toggle" class="input-group-text">
              <span data-password-visibility-target="icon" class="bi bi-eye"></span>
              <span data-password-visibility-target="icon" class="bi bi-eye-slash hidden"></span>
            </button>
          </div>
        </div>

        <% if @minimum_password_length %>
          <small class="form-text text-muted"><%= @minimum_password_length %> characters minimum</small>
        <% end %>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation, "Password confirmation" %>
        <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Password confirmation", autocomplete: "new-password" %>
      </div>

      <div class="form-group">
        <%= f.label :current_password, "Current password (we need your current password to confirm your changes)" %>
        <%= f.password_field :current_password, class: "form-control", placeholder: "Current password", autocomplete: "current-password" %>
      </div>

      <div class="text-center">
        <%= f.submit "Update", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>

  <div class="col-12 col-sm-12 col-md-8 col-lg-4 col-xl-4">
    <h3>Cancel my account</h3>

    <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: {confirm: "Are you sure?"}, method: :delete, class: "btn btn-danger" %></p>
  </div>
</div>
