<div class="row">
  <div class="col">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><%= link_to("Home", root_path) %></li>
        <li class="breadcrumb-item active" aria-current="page">Change email and password</li>
      </ol>
    </nav>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-12 col-sm-12 col-md-8 col-lg-4 col-xl-4">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {method: :put}, data: {turbo: "false"}) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="mb-3">
        <%= f.label :email, "Email address", class: "form-label" %>
        <%= f.email_field :email, class: "form-control", placeholder: "Email address", autofocus: true, autocomplete: "email" %>
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div><%= t(".currently_waiting_confirmation_for_email", email: resource.unconfirmed_email) %></div>
        <% end %>
      </div>

      <div class="mb-3">
        <%= f.label :password, "Password (leave blank if you don't want to change it)", class: "form-label" %>

        <div class="input-group" data-controller="password-visibility">
          <%= f.password_field :password,
                               data: {"password-visibility-target": "input"},
                               class: "form-control",
                               placeholder: "Password",
                               autocomplete: "new-password" %>
          <button type="button" data-action="password-visibility#toggle" class="input-group-text">
            <span data-password-visibility-target="icon">
              <%= inline_svg_tag "icons/eye.svg" %>
            </span>
            <span data-password-visibility-target="icon" class="hidden">
              <%= inline_svg_tag "icons/eye-slash.svg" %>
            </span>
          </button>
        </div>

        <% if @minimum_password_length %>
          <small class="form-text text-muted"><%= @minimum_password_length %> characters minimum</small>
        <% end %>
      </div>

      <div class="mb-3">
        <%= f.label :password_confirmation, "Password confirmation", class: "form-label" %>

        <div class="input-group" data-controller="password-visibility">
          <%= f.password_field :password_confirmation,
                               data: {"password-visibility-target": "input"},
                               class: "form-control",
                               placeholder: "Password confirmation",
                               autocomplete: "new-password" %>
          <button type="button" data-action="password-visibility#toggle" class="input-group-text">
            <span data-password-visibility-target="icon">
              <%= inline_svg_tag "icons/eye.svg" %>
            </span>
            <span data-password-visibility-target="icon" class="hidden">
              <%= inline_svg_tag "icons/eye-slash.svg" %>
            </span>
          </button>
        </div>
      </div>

      <div class="mb-3">
        <%= f.label :current_password, "Current password", class: "form-label" %>

        <div class="input-group" data-controller="password-visibility">
          <%= f.password_field :current_password,
                               data: {"password-visibility-target": "input"},
                               class: "form-control",
                               placeholder: "Current password",
                               autocomplete: "current-password" %>
          <button type="button" data-action="password-visibility#toggle" class="input-group-text">
            <span data-password-visibility-target="icon">
              <%= inline_svg_tag "icons/eye.svg" %>
            </span>
            <span data-password-visibility-target="icon" class="hidden">
              <%= inline_svg_tag "icons/eye-slash.svg" %>
            </span>
          </button>
        </div>

        <div class="form-text"><%= t(".we_need_your_current_password_to_confirm_your_changes") %></div>
      </div>

      <div class="text-center">
        <%= f.submit t(".update"), class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>

  <div class="col-12 col-sm-12 col-md-8 col-lg-4 col-xl-4">
    <h3>Cancel my account</h3>

    <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), form: {data: {turbo_confirm: "Are you sure?"}}, method: :delete, class: "btn btn-danger" %></p>
  </div>
</div>
