<div class="row">
  <div class="col">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><%= link_to("Home", root_path) %></li>
        <li class="breadcrumb-item active" aria-current="page">Sign Up</li>
      </ol>
    </nav>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-12 col-sm-12 col-md-8 col-lg-4 col-xl-4">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), data: {turbo: "false"}) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="form-group">
        <%= f.label :email, "Email address" %>
        <%= f.email_field :email, class: "form-control", placeholder: "Email address", required: true, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="form-group">
        <%= f.label :password, "Password" %>

        <div class="input-group" data-controller="password-visibility">
          <%= f.password_field :password,
                               data: {"password-visibility-target": "input"},
                               class: "form-control",
                               placeholder: "Password",
                               required: true,
                               autocomplete: "new-password" %>

          <div class="input-group-append">
            <button type="button" data-action="password-visibility#toggle" class="input-group-text">
              <span data-password-visibility-target="icon" class="bi bi-eye"></span>
              <span data-password-visibility-target="icon" class="bi bi-eye-slash hidden"></span>
            </button>
          </div>
        </div>

        <% if @minimum_password_length %>
          <small class="form-text text-muted"><%= @minimum_password_length %> characters minimum</small>
        <% end %>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation, "Password confirmation" %>

        <div class="input-group" data-controller="password-visibility">
          <%= f.password_field :password_confirmation,
                               data: {"password-visibility-target": "input"},
                               class: "form-control",
                               placeholder: "Password confirmation",
                               required: true,
                               autocomplete: "new-password" %>

          <div class="input-group-append">
            <button type="button" data-action="password-visibility#toggle" class="input-group-text">
              <span data-password-visibility-target="icon" class="bi bi-eye"></span>
              <span data-password-visibility-target="icon" class="bi bi-eye-slash hidden"></span>
            </button>
          </div>
        </div>
      </div>

      <div class="text-center">
        <%= f.submit "Sign up", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>

<%= render "devise/shared/links" %>
