<div class="row">
  <div class="col">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><%= @type.market_group&.parent_group&.parent_group&.parent_group&.name %></li>
        <li class="breadcrumb-item"><%= @type.market_group&.parent_group&.parent_group&.name %></li>
        <li class="breadcrumb-item"><%= @type.market_group&.parent_group&.name %></li>
        <li class="breadcrumb-item"><%= @type.market_group&.name %></li>
      </ol>
    </nav>
  </div>
</div>

<div class="row">
  <div class="col">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">Inventory Groups</li>
        <li class="breadcrumb-item"><%= @type.group&.category&.name %></li>
        <li class="breadcrumb-item"><%= @type.group&.name %></li>
        <li class="breadcrumb-item active" aria-current="page"><%= @type.name %></li>
      </ol>
    </nav>
  </div>
</div>

<hr class="text-dark">

<div class="row">
  <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
    <h4 class="text-center text-break"><%= @type.name %></h4>

    <div class="card">
      <ul class="list-group list-group-flush">
        <li class="list-group-item text-center">
          <%= image_tag(@type.icon_small,
                        alt: @type.name,
                        class: "rounded border",
                        size: "66x66",
                        loading: "lazy") %>
        </li>
        <li class="list-group-item text-break">
          <p><%= simple_format(@type.description) %></p>
        </li>
      </ul>
    </div>
  </div>

<!--  <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">-->
<!--    <h4 class="text-center text-break">Market</h4>-->
<!--  </div>-->

  <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
    <h4 class="text-center text-break">Attributes</h4>

<!--    Tech Level-->
<!--    Volume-->
<!--    Mass-->
<!--    Radius-->

    <table class="table table-dark table-striped table-bordered">
      <% @type.type_dogma_attributes.each do |tda| %>
        <% next if tda.value == 0.0 || ["requiredSkill1Level", "requiredSkill1"].include?(tda.dogma_attribute.name) || tda.dogma_attribute.display_name.blank? %>

        <tr>
          <td class="align-middle text-center border-end-0 m-0 p-2">
            <% if tda.dogma_attribute&.icon&.icon_url&.present? %>
              <%= image_tag(tda.dogma_attribute.icon.icon_url,
                            alt: tda.dogma_attribute.icon.description,
                            class: "rounded border",
                            size: "34x34",
                            loading: "lazy") %>
            <% end %>
          </td>
          <td class="align-middle text-break border-start-0">
            <%= tda.dogma_attribute.display_name %>
          </td>
          <td class="align-middle text-end">
            <%= tda.value_with_unit %>
          </td>
        </tr>
      <% end %>
    </table>

  </div>

<!--  <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">-->
<!--    <h4 class="text-center text-break">Attributes</h4>-->

<!--    Base Price-->
<!--  </div>-->

<!--  <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">-->
<!--    <h4 class="text-center text-break">Variations</h4>-->
<!--  </div>-->

<!--  <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">-->
<!--    <h4 class="text-center text-break">Required skills</h4>-->
<!--  </div>-->
</div>
