<div class="row">
  <div class="col">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">Inventory Groups</li>
        <li class="breadcrumb-item"><%= @type.group.category.name %></li>
        <li class="breadcrumb-item"><%= @type.group.name %></li>
        <li class="breadcrumb-item active" aria-current="page"><%= @type.name %></li>
      </ol>
    </nav>
  </div>
</div>

<hr class="text-dark">

<div class="row">
  <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
    <h4 class="text-center text-break"><%= @type.name %></h4>

    <div class="card">
      <ul class="list-group list-group-flush">
        <li class="list-group-item text-center">
          <%= image_tag(@type.icon_small,
                        alt: @type.name,
                        class: "rounded border",
                        size: "130x130",
                        loading: "lazy") %>
        </li>
      </ul>
    </div>
  </div>
</div>
