<div class="row">
  <div class="col">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><%= link_to("Home", root_path) %></li>
        <li class="breadcrumb-item active" aria-current="page">Search</li>
      </ol>
    </nav>
  </div>
</div>

<hr class="text-dark">

<div class="row">
  <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
    <h4 class="text-center text-break">Search</h4>

    <%= form_with(url: search_path, method: :get, data: {controller: "search-form", turbo_frame: "search", turbo_action: "advance"}) do |f| %>
      <div class="mb-3">
        <%= f.search_field :q,
                           value: params[:q],
                           placeholder: "Type to search...",
                           class: "form-control",
                           autofocus: true,
                           autocomplete: "off",
                           data: {action: "input->search-form#search"} %>
      </div>

      <div class="mb-3 text-center">
        <%= button_tag "Search", name: nil, type: nil, class: "btn btn-primary w-100" %>
      </div>
    <% end %>
  </div>

  <%= render "search",
             alliances: @alliances,
             corporations: @corporations,
             characters: @characters %>
</div>
