<div class="card <%= index % 2 == 0 ? "bg-dark" : "bg-transparent" %> rounded-0 border-secondary <%= index == 0 ? "" : "border-top-0" %>">
  <div class="row no-gutters">
    <div class="col-2 text-center m-auto">
      <%= image_tag(standing.standingable&.icon_tiny,
                    alt: standing.standingable&.name,
                    class: "rounded border",
                    size: "34x34",
                    loading: "lazy") %>
    </div>
    <div class="col-8">
      <div class="card-body">
        <div class="card-text">
          <%= standing.standingable&.name %>
        </div>
      </div>
    </div>
    <div class="col-2 text-center m-auto">
      <%= standing.standing %>
    </div>
  </div>
</div>
