<div class="row">
  <div class="col">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><%= link_to("Home", root_path) %></li>
        <li class="breadcrumb-item"><%= link_to("My characters", characters_path) %></li>
        <li class="breadcrumb-item"><%= link_to(@character.name, character_path(@character)) %></li>
        <li class="breadcrumb-item active" aria-current="page">Manufacturing Jobs</li>
      </ol>
    </nav>
  </div>
</div>

<%= render partial: "characters/character_nav_bar",
           locals: {
             character: @character,
             page: :manufacturing_jobs
           } %>

<hr>

<div class="row">
  <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
    <div class="clearfix">
      <h4 class="float-left"><%= @character.name %></h4>
      <%= form_with(url: character_path(@character), method: :patch, class: "float-right") do %>
        <%= button_tag(class: "btn btn-primary mb-2") do %>
          <i class="bi bi-arrow-repeat"></i>
        <% end %>
      <% end %>
    </div>

    <div class="card">
      <ul class="list-group list-group-flush">
        <li class="list-group-item text-center">
          <%= image_tag(@character.icon_medium,
                        alt: @character.name,
                        class: "rounded border",
                        size: "130x130",
                        loading: "lazy") %>
        </li>
        <% if @character.corporation %>
          <li class="list-group-item text-break">
            Corporation: <%= link_to(@character.corporation.name,
                                     universe_corporation_path(@character.corporation.corporation_id)) %>
          </li>
        <% end %>
        <% if @character.alliance %>
          <li class="list-group-item text-break">
            Alliance: <%= link_to(@character.alliance.name,
                                  universe_alliance_path(@character.alliance)) %>
          </li>
        <% end %>
        <li class="list-group-item text-break">
          Total SP: <%= @character.full_sp_formatted %>
        </li>
        <% if @character.unallocated_sp && @character.unallocated_sp > 0 %>
          <li class="list-group-item text-break">
            Unallocated SP: <%= @character.unallocated_sp_formatted %>
          </li>
        <% end %>
        <li class="list-group-item text-break">
          Security status: <%= @character.rounded_security_status %>
        </li>
        <li class="list-group-item text-break">
          Wallet: <%= @character.wallet_formatted %> ISK
        </li>
      </ul>
      <p class="card-text text-center">
        <small class="text-muted">
          Last updated: <%= local_time_ago(@character.updated_at) %>
        </small>
      </p>
    </div>
  </div>

  <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
    <h4 class="text-center text-break">Manufacturing Jobs</h4>

    <%= link_to("Create new job",
                new_character_manufacturing_job_path(@character),
                class: "btn btn-primary btn-block") %>
  </div>

  <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4" id="new_manufacturing_job">
    <h4 class="text-center text-break">New Job</h4>

    <form>
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" v-model="name">
      </div>

      <div class="form-group">
        <label for="product_id">Product: {{ selected || "not selected" }}</label>
        <v-select v-model="selected"
                  label="name"
                  :filterable="false"
                  :options="options"
                  @search="onSearch">
          <template slot="no-options">
            Type anything to search
          </template>
          <template v-slot:option="option">
            <div class="row">
              <div class="col-2">
                <img :src="option.icon"
                     class="rounded border"
                     loading="lazy"
                     width="34"
                     height="34">
              </div>
              <div class="col-10">
                <div class="row">
                  {{ option.name }}
                </div>
                <div class="row">
                  {{ option.description }}
                </div>
              </div>
            </div>
          </template>
        </v-select>
      </div>

    </form>
    {{ message }}
  </div>
</div>

<script type="text/javascript">
  var app = new Vue({
    el: '#new_manufacturing_job',
    data: {
      name: '',
      name_changed_by_user: false,
      product_id: '',
      selected: null,
      message: 'Hello Vue!',
      options: [],
<!--      items: <%##= raw @eve_types.map { |type| { id: type.type_id, name: type.name_en, icon: type.icon_tiny, description: type.description_en } }.to_json %>,-->

      //character: {
      //  blueprints: <%#= raw @blueprints.map { |b| { name: b.name_en } }.to_json %>
      //},

      //items: <%#= raw @eve_types.map { |type| { id: type.type_id, name: type.name_en } }.to_json %>,
    },
    methods: {
      onSearch(search, loading) {
        loading(true);
        this.search(loading, search, this);
      },
      search: debounce((loading, search, vm) => {
        fetch(
            `/api/eve/blueprints?q=${escape(search)}`
        ).then(res => {
          res.json().then(json => (vm.options = json.blueprints));
          loading(false);
        });
      }, 350)
    }
  });
</script>
