<div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
  <% if @alliances.blank? %>
    <h4 class="text-center">
      <%= link_to(t(".alliances_html"),
                  universe_alliances_path,
                  class: "text-decoration-none",
                  "data-hotkey": "a") %>
    </h4>

    <h4 class="text-center">Loading...</h4>
  <% else %>
    <h4 class="text-center">
      <%= link_to(t(".alliances_html"),
                  universe_alliances_path,
                  class: "text-decoration-none",
                  "data-hotkey": "a") %>
    </h4>

    <table id="alliances" class="table table-dark table-striped table-bordered">
      <thead>
        <tr>
          <th colspan="2" class="text-center">Name</th>
          <th class="text-end">Corps</th>
          <th class="text-end">Members</th>
        </tr>
      </thead>

      <tbody>
        <% @alliances.each do |alliance| %>
          <tr>
            <td class="text-center align-middle border-end-0 m-0 p-2">
              <%= image_tag(alliance.icon_small,
                            alt: alliance.name,
                            class: "rounded border",
                            size: "34x34",
                            loading: "lazy") %>
            </td>
            <td class="text-break align-middle border-start-0">
              <%= link_to(alliance.name, universe_alliance_path(alliance)) %>
            </td>
            <td class="text-end align-middle">
              <%= alliance.formatted_corporations_count %>
            </td>
            <td class="text-end align-middle">
              <%= alliance.formatted_characters_count %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>
