<h2><%= t("devise.authy_register_title") %></h2>

<%= enable_authy_form do %>
  <%= text_field_tag :country_code, "", autocomplete: :off, placeholder: t("devise.country"), id: "authy-countries" %>
  <%= text_field_tag :cellphone, "", autocomplete: :off, placeholder: t("devise.cellphone"), id: "authy-cellphone" %>
  <p><%= submit_tag t("devise.enable_authy") %></p>
<% end %>
