<div class="row">
  <div class="col">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><%= link_to("Home", root_path) %></li>
        <li class="breadcrumb-item active" aria-current="page"><%= t("devise.authy_register_title") %></li>
      </ol>
    </nav>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-12 col-sm-12 col-md-8 col-lg-4 col-xl-4">
    <%= enable_authy_form(data: {turbo: "false"}) do %>
      <div class="form-group">
        <label for="country_code">
          <%= t("devise.country") %>
        </label>
        <select class="form-control" name="country_code">
          <% CountriesMapper.countries.each do |country| %>
            <option value="<%= country[:code] %>">
              <%= "#{country[:name]} (#{country[:code]})" %>
            </option>
          <% end %>
        </select>
      </div>

      <div class="form-group">
        <%= text_field_tag :cellphone, "",
                           autocomplete: :off,
                           placeholder: t("devise.cellphone"),
                           class: "form-control",
                           inputmode: "numeric",
                           pattern: "[0-9]*" %>
      </div>

      <div class="text-center">
        <%= submit_tag t("devise.enable_authy"), class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
