<div class="row">
  <div class="col">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><%= link_to("Home", root_path) %></li>
        <li class="breadcrumb-item active" aria-current="page"><%= t("devise.submit_token_title") %></li>
      </ol>
    </nav>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-12 col-sm-12 col-md-8 col-lg-4 col-xl-4">
    <h4><%= t("devise.submit_token_title") %></h4>

    <%= verify_authy_form(data: {turbo: "false"}) do %>
      <div class="form-group">
        <%= text_field_tag :token, "", autocomplete: "one-time-code", inputmode: "numeric", pattern: "[0-9]*" %>
      </div>

      <div class="form-group form-check">
        <%= check_box_tag :remember_device, "1", true, class: "form-check-input" %>
        <%= label_tag :remember_device, t("devise.remember_device"), class: "form-check-label" %>
      </div>

      <div class="form-group">
        <%= authy_request_sms_link %>
      </div>

      <div class="form-group">
        <%= submit_tag t("devise.submit_token"), class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
