<h2><%= t("devise.authy_verify_installation_title") %></h2>

<%= verify_authy_installation_form do %>
  <legend><%= t("devise.submit_token_title") %></legend>
  <%= label_tag :token %>
  <%= text_field_tag :token, "", autocomplete: :off, id: "authy-token" %>
  <%= authy_request_sms_link %>
  <%= submit_tag t('devise.enable_my_account'), class: "btn" %>
<% end %>
