<div class="row">
  <div class="col">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><%= link_to("Home", root_path) %></li>
        <li class="breadcrumb-item"><%= link_to("Profile", profile_path) %></li>
        <li class="breadcrumb-item active" aria-current="page">Change password</li>
      </ol>
    </nav>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-8 col-lg-4 col-xl-4">
    <%= form_with(url: change_password_path, model: @form, scope: :change_password, method: :patch) do |f| %>
      <div class="form-group">
        <%= f.label :current_password, "Current password" %>
        <%= f.password_field :current_password, class: "form-control", placeholder: "Current password", required: true %>
      </div>

      <div class="form-group">
        <%= f.label :new_password, "New password" %>
        <%= f.password_field :new_password, class: "form-control", placeholder: "New password", required: true %>
      </div>

      <div class="form-group">
        <%= f.label :new_password_confirmation, "New password confirmation" %>
        <%= f.password_field :new_password_confirmation, class: "form-control", placeholder: "New password confirmation", required: true %>
      </div>

      <div class="text-center">
        <%= f.submit "Change password", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
