<div class="row">
  <div class="col">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><%= link_to("Home", root_path) %></li>
        <li class="breadcrumb-item active" aria-current="page"><%= "Corporations" %></li>
      </ol>
    </nav>
  </div>
</div>

<div class="row">
  <div class="col">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <td>&nbsp;</td>
          <td>Name</td>
          <td class="text-right">Members</td>
        </tr>
      </thead>
      <tbody>
        <% @corporations.each do |corporation| %>
          <tr>
            <td class="align-middle text-center"><%= image_tag(corporation.icon_tiny) %></td>
            <td><%= link_to(corporation.name, universe_corporation_path(corporation.corporation_id)) %> (<%= corporation.ticker %>)</td>
            <td class="text-right"><%= corporation.member_count %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col">
    <%= paginate @corporations %>
  </div>
</div>
