<% set_meta_tags title: "Corporation &quot;#{@corporation.name}&quot;",
                 description: "Corporation &quot;#{@corporation.name}&quot;",
                 og: {
                   title: "EVE Online Corporation &quot;#{@corporation.name}&quot;",
                   url: universe_corporation_url(@corporation.corporation_id),
                   type: "website",
                   site_name: "EveMonk: EVE Online management suite",
                   locale: "en_US",
                   description: "EVE Online Corporation &quot;#{@corporation.name}&quot;",
                   image: @corporation.icon_medium
                 } %>

<div class="row">
  <div class="col">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><%= link_to("Home", root_path) %></li>
        <li class="breadcrumb-item"><%= link_to("Corporations", universe_corporations_path) %></li>
        <li class="breadcrumb-item active" aria-current="page"><%= @corporation.name %></li>
      </ol>
    </nav>
  </div>
</div>

<div class="row">
  <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
    <h4 class="text-center text-break">Corporation: <%= @corporation.name %></h4>

    <div class="card">
      <ul class="list-group list-group-flush">
        <li class="list-group-item text-center">
          <%= image_tag(@corporation.icon_medium,
                        alt: @corporation.name,
                        class: "rounded border",
                        size: "130x130",
                        loading: "lazy") %>
        </li>
        <% if @corporation.alliance %>
          <li class="list-group-item text-break">
            Alliance: <%= link_to(@corporation.alliance.name,
                                  universe_alliance_path(@corporation.alliance)) %>
            (<%= @corporation.alliance.ticker %>)
          </li>
        <% end %>
        <li class="list-group-item text-break">Ticker: <%= @corporation.ticker %></li>
        <li class="list-group-item">Members: <%= @corporation.formatted_member_count %></li>
        <% if @corporation.ceo %>
          <li class="list-group-item text-break">
            CEO: <%= link_to(@corporation.ceo.name,
                             universe_character_path(@corporation.ceo)) %>
          </li>
        <% end %>
      </ul>
      <p class="card-text text-center">
        <small class="text-muted">
          Last updated: <%= local_time_ago(@corporation.updated_at) %>
        </small>
      </p>
    </div>
  </div>

  <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8">
    <%= turbo_frame_tag "universe:corporation:#{@corporation.id}:characters",
                        src: universe_corporation_characters_path(@corporation.corporation_id),
                        target: "_top" do %>
      <h4 class="text-center">Loading...</h4>
    <% end %>
  </div>
</div>
