<div class="row">
  <div class="col">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><%= link_to("Home", root_path) %></li>
        <li class="breadcrumb-item active" aria-current="page">Change your password</li>
      </ol>
    </nav>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-12 col-sm-12 col-md-8 col-lg-4 col-xl-4">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: {method: :put}, data: {turbo: "false"}) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <%= f.hidden_field :reset_password_token %>

      <div class="mb-3">
        <%= f.label :password, t(".new_password"), class: "form-label" %>

        <div class="input-group" data-controller="password-visibility">
          <%= f.password_field :password,
                               data: {"password-visibility-target": "input"},
                               class: "form-control",
                               placeholder: "Password",
                               autofocus: true,
                               required: true,
                               autocomplete: "new-password" %>
          <button type="button" data-action="password-visibility#toggle" class="input-group-text">
            <span data-password-visibility-target="icon">
              <%= inline_svg_tag "icons/eye.svg" %>
            </span>
            <span data-password-visibility-target="icon" class="hidden">
              <%= inline_svg_tag "icons/eye-slash.svg" %>
            </span>
          </button>
        </div>

        <% if @minimum_password_length %>
          <div class="form-text"><%= t("devise.shared.minimum_password_length", count: @minimum_password_length) %></div>
        <% end %>
      </div>

      <div class="mb-4">
        <%= f.label :password_confirmation, t(".confirm_new_password"), class: "form-label" %>

        <div class="input-group" data-controller="password-visibility">
          <%= f.password_field :password_confirmation,
                               data: {"password-visibility-target": "input"},
                               class: "form-control",
                               placeholder: "Password confirmation",
                               required: true,
                               autocomplete: "new-password" %>
          <button type="button" data-action="password-visibility#toggle" class="input-group-text">
            <span data-password-visibility-target="icon">
              <%= inline_svg_tag "icons/eye.svg" %>
            </span>
            <span data-password-visibility-target="icon" class="hidden">
              <%= inline_svg_tag "icons/eye-slash.svg" %>
            </span>
          </button>
        </div>
      </div>

      <div class="mb-4 text-center">
        <%= f.submit t(".change_my_password"), class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>

<%= render "devise/shared/links" %>
