<div class="row">
  <div class="col">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><%= link_to("Home", root_path) %></li>
        <li class="breadcrumb-item active" aria-current="page"><%= "Characters" %></li>
      </ol>
    </nav>
  </div>
</div>

<div class="row">
  <div class="col">
    <table class="table table-dark table-striped table-bordered">
      <thead>
        <tr>
          <td>&nbsp;</td>
          <td>Name</td>
        </tr>
      </thead>
      <tbody>
        <% @characters.each do |character| %>
          <tr>
            <td class="align-middle text-center"><%= image_tag(character.icon_tiny) %></td>
            <td><%= link_to(character.name, universe_character_path(character.character_id)) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="row justify-content-center">
  <%= paginate @characters %>
</div>
