<% set_meta_tags title: "Character &quot;#{ @character.name }&quot;",
                 description: @character.description,
                 og: {
                   title: :title,
                   url: universe_character_url(@character.character_id),
                   type: "website",
                   site_name: "EveMonk: EveOnline management suite",
                   locale: "en_US",
                   image: @character.icon_medium,
                   description: @character.description,
                 } %>

<div class="row">
  <div class="col">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><%= link_to("Home", root_path) %></li>
        <li class="breadcrumb-item"><%= link_to("Characters", universe_characters_path) %></li>
        <li class="breadcrumb-item active" aria-current="page"><%= @character.name %></li>
      </ol>
    </nav>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
    <h4 class="text-center text-break">Character: <%= @character.name %></h4>

    <div class="card">
      <ul class="list-group list-group-flush">
        <li class="list-group-item text-center">
          <%= image_tag(@character.icon_medium, class: "rounded") %>
        </li>
        <% if @character.alliance %>
          <li class="list-group-item text-break">
            Alliance: <%= link_to(@character.alliance.name,
                                  universe_alliance_path(@character.alliance.alliance_id)) %>
            (<%= @character.alliance.ticker %>)
          </li>
        <% end %>
        <% if @character.corporation %>
          <li class="list-group-item text-break">
            Corporation: <%= link_to(@character.corporation.name,
                                     universe_corporation_path(@character.corporation.corporation_id)) %>
            (<%= @character.corporation.ticker %>)
          </li>
        <% end %>
      </ul>
      <p class="card-text text-center">
        <small class="text-muted">Last updated <%= time_ago_in_words(@character.updated_at) %> ago</small>
      </p>
    </div>
  </div>

  <div class="col">
    <h4 class="text-center">Corporation history (<%= @character.character_corporation_histories.size %>)</h4>

    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>&nbsp;</th>
          <th>Corporation</th>
          <th class="text-right">Joined at</th>
        </tr>
      </thead>
      <tbody>
        <% @character.character_corporation_histories.each do |record| %>
          <%# In some cases we don't have corporation yet in db %>
          <% if record.corporation %>
            <tr>
              <td class="align-middle text-center"><%= image_tag(record.corporation.icon_tiny, class: "rounded") %></td>
              <td class="text-break"><%= link_to(record.corporation.name, universe_corporation_path(record.corporation.corporation_id)) %> (<%= record.corporation.ticker %>)</td>
              <td class="text-right"><%= time_ago_in_words record.start_date %></td>
            </tr>
          <% else %>
            <tr>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td class="text-right"><%= time_ago_in_words(record.start_date) %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
