<div class="row">
  <div class="col">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><%= link_to("Home", root_path) %></li>
        <li class="breadcrumb-item"><%= link_to("Characters", universe_characters_path) %></li>
        <li class="breadcrumb-item active" aria-current="page"><%= @character.name %></li>
      </ol>
    </nav>
  </div>
</div>

<div class="row">
  <div class="col">
    <table class="table table-dark table-striped table-bordered">
      <thead>
        <tr>
          <td>&nbsp;</td>
          <td>Corporation</td>
          <td class="text-right">Joined at</td>
        </tr>
      </thead>
      <tbody>
        <% @character.character_corporation_histories.each do |record| %>
          <%# In some cases we don't have corporation yet in db %>
          <% if record.corporation %>
            <tr>
              <td class="align-middle text-center"><%= image_tag(record.corporation.icon_tiny) %></td>
              <td><%= link_to(record.corporation.name, universe_corporation_path(record.corporation.corporation_id)) %> (<%= record.corporation.ticker %>)</td>
              <td class="text-right"><%= time_ago_in_words record.start_date %></td>
            </tr>
          <% else %>
            <tr>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td class="text-right"><%= time_ago_in_words(record.start_date) %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
