<% set_meta_tags title: "Character &quot;#{@character.name}&quot;",
                 description: "Character &quot;#{@character.name}&quot;",
                 og: {
                   title: "EVE Online Character &quot;#{@character.name}&quot;",
                   url: universe_character_url(@character.character_id),
                   type: "website",
                   site_name: "EveMonk: EVE Online management suite",
                   locale: "en_US",
                   description: "EVE Online Character &quot;#{@character.name}&quot;",
                   image: @character.icon_medium
                 } %>

<div class="row">
  <div class="col">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><%= link_to("Home", root_path) %></li>
        <li class="breadcrumb-item"><%= link_to("Characters", universe_characters_path) %></li>
        <li class="breadcrumb-item active" aria-current="page"><%= @character.name %></li>
      </ol>
    </nav>
  </div>
</div>

<div class="row">
  <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
    <h4 class="text-center text-break">Character: <%= @character.name %></h4>

    <div class="card">
      <ul class="list-group list-group-flush">
        <li class="list-group-item text-center">
          <%= image_tag(@character.icon_medium,
                        alt: @character.name,
                        class: "rounded border",
                        size: "130x130",
                        loading: "lazy") %>
        </li>
        <% if @character.alliance %>
          <li class="list-group-item text-break">
            Alliance: <%= link_to(@character.alliance.name,
                                  universe_alliance_path(@character.alliance)) %>
          </li>
        <% end %>
        <% if @character.corporation %>
          <li class="list-group-item text-break">
            Corporation: <%= link_to(@character.corporation.name,
                                     universe_corporation_path(@character.corporation.corporation_id)) %>
          </li>
        <% end %>
      </ul>
      <p class="card-text text-center">
        <small class="text-muted">
          Last updated: <%= local_time_ago(@character.updated_at) %>
        </small>
      </p>
    </div>
  </div>

  <div class="col">
    <h4 class="text-center">Employment History (<%= @character_corporation_histories.size %>)</h4>

    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th colspan="2" class="text-center">Corporation</th>
          <th class="text-right">Joined at</th>
        </tr>
      </thead>
      <tbody>
        <% @character_corporation_histories.each do |record| %>
          <%# In some cases we don't have corporation yet in db %>
          <% if record.corporation %>
            <tr>
              <td class="align-middle text-center border-right-0 m-0 p-2">
                <%= image_tag(record.corporation.icon_tiny,
                              alt: record.corporation.name,
                              class: "rounded border",
                              size: "34x34",
                              loading: "lazy") %>
              </td>
              <td class="align-middle text-break border-left-0">
                <%= link_to(record.corporation.name, universe_corporation_path(record.corporation.corporation_id)) %>
              </td>
              <td class="align-middle text-right">
                <%= time_ago_in_words(record.start_date) %>
              </td>
            </tr>
          <% else %>
            <tr>
              <td colspan="2">&nbsp;</td>
              <td class="text-right"><%= time_ago_in_words(record.start_date) %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
