<% set_meta_tags title: "Character &quot;#{ @character.name }&quot;",
                 og: {
                     title: :title,
                     url: "https://evemonk.com/universe/characters/#{ @character.character_id }",
                     type: "website",
                     site_name: "EveMonk: EveOnline management suite",
                     image: @character.icon_medium,
                 } %>


<!---    <meta property="og:title" content="">-->
<!---    <meta property="og:description" content="">-->
<!---    <meta property="og:image" content="">-->
<!---    <meta property="og:url" content="">-->
<!---    <meta property="og:type" content="website">-->


<div class="row">
  <div class="col">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><%= link_to("Home", root_path) %></li>
        <li class="breadcrumb-item"><%= link_to("Characters", universe_characters_path) %></li>
        <li class="breadcrumb-item active" aria-current="page"><%= @character.name %></li>
      </ol>
    </nav>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
    <h4 class="text-center">Character: <%= @character.name %></h4>

    <div class="card">
      <ul class="list-group list-group-flush">
        <li class="list-group-item text-center">
          <%= image_tag(@character.icon_medium) %>
        </li>
        <li class="list-group-item">
          Alliance: <%= link_to(@character.alliance.name,
                                universe_alliance_path(@character.alliance.alliance_id)) %>
          (<%= @character.alliance.ticker %>)
        </li>
        <li class="list-group-item">
          Corporation: <%= link_to(@character.corporation.name,
                                   universe_corporation_path(@character.corporation.corporation_id)) %>
          (<%= @character.corporation.ticker %>)
        </li>
      </ul>
      <p class="card-text text-center">
        <small class="text-muted">Last updated <%= time_ago_in_words(@character.updated_at) %> ago</small>
      </p>
    </div>
  </div>

  <div class="col">
    <h4 class="text-center">Corporation history</h4>

    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <td>&nbsp;</td>
          <td>Corporation</td>
          <td class="text-right">Joined at</td>
        </tr>
      </thead>
      <tbody>
        <% @character.character_corporation_histories.each do |record| %>
          <%# In some cases we don't have corporation yet in db %>
          <% if record.corporation %>
            <tr>
              <td class="align-middle text-center"><%= image_tag(record.corporation.icon_tiny) %></td>
              <td><%= link_to(record.corporation.name, universe_corporation_path(record.corporation.corporation_id)) %> (<%= record.corporation.ticker %>)</td>
              <td class="text-right"><%= time_ago_in_words record.start_date %></td>
            </tr>
          <% else %>
            <tr>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td class="text-right"><%= time_ago_in_words(record.start_date) %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
