<div class="row">
  <div class="col">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><%= link_to("Home", root_path) %></li>
        <li class="breadcrumb-item"><%= link_to("My characters", characters_path) %></li>
        <li class="breadcrumb-item"><%= link_to(@character.name, character_path(@character.character_id)) %></li>
        <li class="breadcrumb-item active" aria-current="page">Skills</li>
      </ol>
    </nav>
  </div>
</div>

<ul class="nav nav-pills">
  <li class="nav-item">
    <%= link_to("Sheet", character_path(@character.character_id), class: "nav-link") %>
  </li>
  <li class="nav-item">
    <%= link_to("Employment History", character_employment_histories_path(@character.character_id), class: "nav-link") %>
  </li>
  <% if Setting.enabled_assets %>
    <li class="nav-item">
      <%= link_to("Assets", character_assets_path(@character.character_id), class: "nav-link") %>
    </li>
  <% end %>
  <li class="nav-item">
    <%= link_to("Loyalty points", character_loyalty_points_path(@character.character_id), class: "nav-link") %>
  </li>
  <% if Setting.enabled_skillqueue %>
    <li class="nav-item">
      <%= link_to("Skill queue", character_skillqueues_path(@character.character_id), class: "nav-link") %>
    </li>
  <% end %>
  <% if Setting.enabled_skills %>
    <li class="nav-item">
      <%= link_to("Skills", character_skills_path(@character.character_id), class: "nav-link active") %>
    </li>
  <% end %>
  <% if Setting.enabled_mails %>
    <li class="nav-item">
      <%= link_to("Mail", character_mails_path(@character.character_id), class: "nav-link") %>
    </li>
  <% end %>
  <% if Setting.enabled_standings %>
    <li class="nav-item">
      <%= link_to("Standings", character_standings_path(@character.character_id), class: "nav-link") %>
    </li>
  <% end %>
</ul>

<hr>

<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
    <div class="clearfix">
      <h4 class="float-left"><%= @character.name %></h4>
      <%= form_with(url: character_path(@character.character_id), model: @character, class: "float-right") do %>
        <%= button_tag("Refresh", class: "btn btn-primary mb-2") do %>
          <%= image_tag("bootstrap-icons/icons/arrow-repeat.svg") %>
        <% end %>
      <% end %>
    </div>

    <div class="card">
      <ul class="list-group list-group-flush">
        <li class="list-group-item text-center">
          <%= image_tag(@character.icon_medium,
                        alt: @character.name,
                        class: "rounded border",
                        size: "130x130",
                        loading: "lazy") %>
        </li>
        <% if @character.corporation %>
          <li class="list-group-item text-break">
            Corporation: <%= link_to(@character.corporation.name,
                                     universe_corporation_path(@character.corporation.corporation_id)) %>
          </li>
        <% end %>
        <% if @character.alliance %>
          <li class="list-group-item text-break">
            Alliance: <%= link_to(@character.alliance.name,
                                  universe_alliance_path(@character.alliance.alliance_id)) %>
          </li>
        <% end %>
        <li class="list-group-item text-break">
          SP: <%= @character.total_sp_formatted %>
        </li>
        <% if @character.unallocated_sp && @character.unallocated_sp > 0 %>
          <li class="list-group-item text-break">
            Unallocated SP: <%= @character.unallocated_sp_formatted %>
          </li>
        <% end %>
        <li class="list-group-item text-break">
          Security status: <%= @character.security_status %>
        </li>
        <li class="list-group-item text-break">
          Wallet: <%= @character.wallet_formatted %> ISK
        </li>
      </ul>
      <p class="card-text text-center">
        <small class="text-muted">
          Last updated <%= time_ago_in_words(@character.updated_at) %> ago
        </small>
      </p>
    </div>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
    <h4 class="text-center text-break">Skills Tree</h4>

    <div class="accordion" id="skills_tree_accordion">
      <% @character.skills_tree.groups.each do |group| %>
        <div class="card">
          <div class="card-header" id="heading_group_<%= group.group_id %>">
            <h2 class="mb-0">
              <button class="btn btn-link collapsed"
                      type="button"
                      data-toggle="collapse"
                      data-target="#collapse_<%= group.group_id %>"
                      aria-expanded="true"
                      aria-controls="collapse_<%= group.group_id %>">
                <%= group.name %>
              </button>
            </h2>
          </div>

          <div id="collapse_<%= group.group_id %>"
               class="collapse"
               aria-labelledby="heading_group_<%= group.group_id %>"
               data-parent="#skills_tree_accordion">
            <div class="card-body">
              <div class="row">
                Skill description
              </div>
              <div class="row">
                Levels trained: <%= @character.skills_tree.levels_trained_in_group(group) %> / <%= @character.skills_tree.total_levels_in_group(group) %>
              </div>
              <div class="row">
                Levels in training queue: x
              </div>
              <div class="row">
                Skill points: <%= number_with_delimiter(@character.skills_tree.skill_points_in_group(group), delimiter: " ") %> / xxx xxx xxx
              </div>
              <div class="row">
                Certificates claimed: xx / xx
              </div>
              <div class="row">
                Training rate: 36.0 skill points per minute
              </div>
              <div class="row">
                <div class="span-6">Intelligence: 22</div>
                <div class="span-6">Memory: 22</div>
              </div>

              <% @character.skills_tree.skills_in_group(group).each do |skill| %>
<!--                <div class="row">-->
                  <%#= link_to(skill.name, universe_type_path(skill.type_id)) %>
<!--                  <br>-->
                  <%#= @character.skills_tree.skill(skill)&.trained_skill_level %>

                  <div class="card">
                    <div class="row no-gutters">
                      <div class="col-md-4">
                        <%= image_tag(skill.icon_small, class: "card-img", alt: skill.name) %>
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h4 class="card-title"><%= link_to(skill.name, universe_type_path(skill.type_id)) %></h4>
                        </div>
                      </div>
                    </div>
                  </div>

<!--                </div>-->
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
