<div class="row">
  <div class="col">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><%= link_to("Home", root_path) %></li>
        <li class="breadcrumb-item"><%= link_to("My characters", characters_path) %></li>
        <li class="breadcrumb-item"><%= link_to(@character.name, character_path(@character.character_id)) %></li>
        <li class="breadcrumb-item active" aria-current="page">Skills</li>
      </ol>
    </nav>
  </div>
</div>

<ul class="nav nav-pills">
  <li class="nav-item">
    <%= link_to("Sheet", character_path(@character.character_id), class: "nav-link") %>
  </li>
  <li class="nav-item">
    <%= link_to("Employment History", character_employment_histories_path(@character.character_id), class: "nav-link") %>
  </li>
  <li class="nav-item">
    <%= link_to("Assets", character_assets_path(@character.character_id), class: "nav-link") %>
  </li>
  <li class="nav-item">
    <%= link_to("Loyalty points", character_loyalty_points_path(@character.character_id), class: "nav-link") %>
  </li>
  <li class="nav-item">
    <%= link_to("Skill queue", nil, class: "nav-link") %>
  </li>
  <li class="nav-item">
    <%= link_to("Skills", character_skills_path(@character.character_id), class: "nav-link active") %>
  </li>
  <li class="nav-item">
    <%= link_to("Mail", character_mails_path(@character.character_id), class: "nav-link") %>
  </li>
  <li class="nav-item">
    <%= link_to("Standings", character_standings_path(@character.character_id), class: "nav-link") %>
  </li>
</ul>

<hr>

<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
    <div class="clearfix">
      <h4 class="float-left"><%= @character.name %></h4>
      <%= form_with(url: character_path(@character.character_id), model: @character, class: "float-right") do %>
        <%= button_tag("Refresh", class: "btn btn-primary mb-2") do %>
          <%= image_tag("bootstrap-icons/icons/arrow-repeat.svg") %>
        <% end %>
      <% end %>
    </div>

    <div class="card">
      <ul class="list-group list-group-flush">
        <li class="list-group-item text-center">
          <%= image_tag(@character.icon_medium,
                        alt: @character.name,
                        class: "rounded border",
                        size: "130x130",
                        loading: "lazy") %>
        </li>
        <% if @character.alliance %>
          <li class="list-group-item text-break">
            Alliance: <%= link_to(@character.alliance.name,
                                  universe_alliance_path(@character.alliance.alliance_id)) %>
          </li>
        <% end %>
        <% if @character.corporation %>
          <li class="list-group-item text-break">
            Corporation: <%= link_to(@character.corporation.name,
                                     universe_corporation_path(@character.corporation.corporation_id)) %>
          </li>
        <% end %>
        <li class="list-group-item text-break">
          Race: <%= @character.race.name %>
        </li>
        <li class="list-group-item text-break">
          Bloodline: <%= @character.bloodline.name %>
        </li>
        <li class="list-group-item text-break">
          Ancestry: <%= @character.ancestry.name %>
        </li>
        <% if @character.faction %>
          <li class="list-group-item text-break">
            Faction: <%= @character.faction.name %>
          </li>
        <% end %>
        <li class="list-group-item">
          Gender: <%= @character.gender %>
        </li>
        <li class="list-group-item text-break">
          SP: <%= @character.total_sp_formatted %>
        </li>
        <% if @character.unallocated_sp && @character.unallocated_sp > 0 %>
          <li class="list-group-item text-break">
            Unallocated SP: <%= @character.unallocated_sp_formatted %>
          </li>
        <% end %>
        <li class="list-group-item text-break">
          Security status: <%= @character.security_status %>
        </li>
        <li class="list-group-item text-break">
          Wallet: <%= @character.wallet_formatted %> ISK
        </li>
        <li class="list-group-item text-break">
          Born: <%= @character.birthday_formatted %>
        </li>
      </ul>
      <p class="card-text text-center">
        <small class="text-muted">
          Last updated <%= time_ago_in_words(@character.updated_at) %> ago
        </small>
      </p>
    </div>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
    <h4 class="text-center text-break">Skills (<%= @character.character_skills.size %>)</h4>

    <table class="table table-striped table-bordered">
      <tbody>
        <% @character.character_skills.each do |character_skill| %>
          <tr>
            <td class="align-middle text-center border-right-0 m-0 p-2">
              <%= image_tag(character_skill.skill.icon_tiny,
                            alt: character_skill.skill.name,
                            class: "rounded border",
                            size: "34x34",
                            loading: "lazy") %>
            </td>
            <td class="align-middle text-break border-left-0">
              <%= link_to(character_skill.skill.name, universe_type_path(character_skill.skill.type_id)) %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
    <h4 class="text-center text-break">Skills Tree</h4>

    <div class="accordion" id="skills_tree_accordion">
      <% @skills_tree.groups.each do |group| %>
        <div class="card">
          <div class="card-header" id="heading_group_<%= group.group_id %>">
            <h2 class="mb-0">
              <button class="btn btn-link collapsed"
                      type="button"
                      data-toggle="collapse"
                      data-target="#collapse_<%= group.group_id %>"
                      aria-expanded="true"
                      aria-controls="collapse_<%= group.group_id %>">
                <%= group.name %>
              </button>
            </h2>
          </div>

          <div id="collapse_<%= group.group_id %>"
               class="collapse"
               aria-labelledby="heading_group_<%= group.group_id %>"
               data-parent="#skills_tree_accordion">
            <div class="card-body">
              <div class="row">
                Levels Trained: <%= @skills_tree.levels_trained_in_group(group) %> / <%= @skills_tree.total_levels_in_group(group) %>
              </div>
              <div class="row">
                Levels in Training Queue: x
              </div>
              <div class="row">
                Skill Points: <%= number_with_delimiter(@skills_tree.skill_points_in_group(group), delimiter: " ") %> / xxx xxx xxx
              </div>
              <div class="row">
                Training Rate: 36.0 skill points per minute
              </div>
              <div class="row">
                <div class="span-6">Intelligence: 22</div>
                <div class="span-6">Memory: 22</div>
              </div>

              <% @skills_tree.skills_in_group(group).each do |skill| %>
                <div class="row">
                  <%= link_to(skill.name, universe_type_path(skill.type_id)) %>
                  <br>
                  <%= @skills_tree.skill(skill)&.trained_skill_level %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
