<div class="row">
  <div class="col">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><%= link_to("Home", root_path) %></li>
        <li class="breadcrumb-item"><%= link_to("My characters", characters_path) %></li>
        <li class="breadcrumb-item"><%= link_to(@character.name, character_path(@character)) %></li>
        <li class="breadcrumb-item active" aria-current="page">Skills</li>
      </ol>
    </nav>
  </div>
</div>

<%= render partial: "characters/character_nav_bar",
           locals: {
             character: @character,
             page: :skills
           } %>

<hr class="text-dark">

<div class="row">
  <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
    <div class="clearfix">
      <h4 class="float-start"><%= @character.name %></h4>
      <%= form_with(url: character_path(@character), method: :patch, class: "float-end") do %>
        <%= button_tag(class: "btn btn-primary mb-2") do %>
          <%= inline_svg_tag "icons/arrow-repeat.svg" %>
        <% end %>
      <% end %>
    </div>

    <div class="card">
      <ul class="list-group list-group-flush">
        <li class="list-group-item text-center">
          <%= image_tag(@character.icon_large,
                        alt: @character.name,
                        class: "rounded border",
                        size: "130x130",
                        loading: "lazy") %>
        </li>
        <% if @character.corporation %>
          <li class="list-group-item text-break">
            Corporation: <%= link_to(@character.corporation.name,
                                     universe_corporation_path(@character.corporation.corporation_id)) %>
          </li>
        <% end %>
        <% if @character.alliance %>
          <li class="list-group-item text-break">
            Alliance: <%= link_to(@character.alliance.name,
                                  universe_alliance_path(@character.alliance)) %>
          </li>
        <% end %>
        <li class="list-group-item text-break">
          Total SP: <%= @character.full_sp_formatted %>
        </li>
        <% if @character.unallocated_sp && @character.unallocated_sp > 0 %>
          <li class="list-group-item text-break">
            Unallocated SP: <%= @character.unallocated_sp_formatted %>
          </li>
        <% end %>
        <li class="list-group-item text-break">
          Security status: <%= @character.rounded_security_status %>
        </li>
        <li class="list-group-item text-break">
          Wallet: <%= @character.wallet_formatted %> ISK
        </li>
      </ul>
      <p class="card-text text-center">
        <small class="text-muted">
          Last updated: <%= local_time_ago(@character.updated_at) %>
        </small>
      </p>
    </div>
  </div>

  <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
    <h4 class="text-center text-break">Skills Tree</h4>

    <div class="accordion" id="skills_tree_accordion_new">
      <% @character_skills_tree.skills_groups.each do |group| %>
        <div class="accordion-item">
          <h2 class="accordion-header" id="heading_<%= group.id %>">
            <button class="accordion-button btn-link"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapse_<%= group.id %>"
                    aria-expanded="false"
                    aria-controls="collapse_<%= group.id %>">
              <%= group.name %> (<%= @character_skills_tree.skills_count_in_group(group.group_id) %>)
            </button>
          </h2>

          <div id="collapse_<%= group.id %>" class="accordion-collapse collapse" aria-labelledby="heading_<%= group.id %>">
            <div class="accordion-body">
              <div class="row">
                <div class="col-12">
                  Levels trained: <%= @character_skills_tree.levels_trained_in_group(group.group_id) %> / <%= @character_skills_tree.total_levels_in_group(group.group_id) %>
                </div>
              </div>

              <div class="row">
                <div class="col-12">
                  Levels in training queue: <%= @character_skills_tree.levels_in_training_queue(group.group_id) %>
                </div>
              </div>

              <div class="row">
                <div class="col-12">
                  Skill points: <%= number_with_delimiter(@character_skills_tree.current_skill_points_in_group(group.group_id), delimiter: " ") %> / <%= number_with_delimiter(@character_skills_tree.total_skill_points_in_group(group.group_id), delimiter: " ") %>
                </div>
              </div>

              <div class="row">
                <div class="col-12">
                  Certificates claimed: <%= @character_skills_tree.certificates_claimed_in_group(group.group_id) %> / <%= @character_skills_tree.total_certificates_in_group(group.group_id) %>
                </div>
              </div>

            </div>
          </div>
        </div>
      <% end %>
    </div>

    <div class="accordion" id="skills_tree_accordion">
      <% @character_skills_tree.skills_groups.each do |group| %>
        <div class="card">
          <div class="card-header" id="heading_group_<%= group.group_id %>">
            <h2 class="mb-0">
              <button class="btn btn-link collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#collapse_<%= group.group_id %>"
                      aria-expanded="true"
                      aria-controls="collapse_<%= group.group_id %>">
                <!-- TODO: add icon -->
                <%= group.name %> (<%= @character_skills_tree.skills_count_in_group(group.group_id) %>)
              </button>
            </h2>
          </div>

          <div id="collapse_<%= group.group_id %>"
               class="collapse"
               aria-labelledby="heading_group_<%= group.group_id %>"
               data-parent="#skills_tree_accordion">
            <div class="card-body">
              <div class="row">
                <div class="col-12">
                  Levels trained: <%= @character_skills_tree.levels_trained_in_group(group.group_id) %> / <%= @character_skills_tree.total_levels_in_group(group.group_id) %>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  Levels in training queue: <%= @character_skills_tree.levels_in_training_queue(group.group_id) %>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  Skill points: <%= number_with_delimiter(@character_skills_tree.current_skill_points_in_group(group.group_id), delimiter: " ") %> / <%= number_with_delimiter(@character_skills_tree.total_skill_points_in_group(group.group_id), delimiter: " ") %>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  Certificates claimed: <%= @character_skills_tree.certificates_claimed_in_group(group.group_id) %> / <%= @character_skills_tree.total_certificates_in_group(group.group_id) %>
                </div>
              </div>
<!--              <div class="row">-->
<!--                <div class="col-6" style="border: 1px solid red">-->
<!--                  <%##= @skills_tree.primary_attribute_per_group(group).display_name %>: <%#= @character.send(:"#{@skills_tree.primary_attribute_per_group(group).name}") %>-->
<!--                </div>-->
<!--                <div class="col-6" style="border: 1px solid red">-->
<!--                  <%##= @skills_tree.secondary_attribute_per_group(group).display_name %>: <%#= @character.send(:"#{@skills_tree.secondary_attribute_per_group(group).name}") %>-->
<!--                </div>-->
<!--              </div>-->

              <hr>

              <% @character_skills_tree.skills_in_group(group.group_id).each do |skill| %>
                <div class="row">
                  <div class="col-12">
                    <%= link_to(skill.name, universe_type_path(skill.type_id)) %><br>
                    Training rate: <%= @character_skills_tree.training_rate_for_skill(skill.type_id) %> skill points per minute<br>
<!--                    Primary: <%##= skill.primary_attribute.display_name %>: <%#= @character.send(:"#{skill.primary_attribute.name}") %><br>-->
<!--                    Secondary: <%##= skill.secondary_attribute.display_name %>: <%#= @character.send(:"#{skill.secondary_attribute.name}") %>-->
                  </div>
                </div>
              <% end %>

              <%# @character.skills_tree.skills_in_group(group).each do |skill| %>
<!--                <div class="row">-->
                  <%#= link_to(skill.name, universe_type_path(skill.type_id)) %>
<!--                  <br>-->
                  <%#= @character.skills_tree.skill(skill)&.trained_skill_level %>

<!--                  <div class="card">-->
<!--                    <div class="row no-gutters">-->
<!--                      <div class="col-md-4">-->
                        <%#= image_tag(skill.icon_small, class: "card-img", alt: skill.name) %>
<!--                      </div>-->
<!--                      <div class="col-md-8">-->
<!--                        <div class="card-body">-->
<!--                          <h4 class="card-title"><%##= link_to(skill.name, universe_type_path(skill.type_id)) %></h4>-->
<!--                        </div>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </div>-->

<!--                </div>-->
              <%# end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
