<% set_meta_tags title: "Alliances",
                 canonical: universe_alliances_url,
                 og: {
                   title: :title,
                   url: universe_alliances_url,
                   type: "website",
                   site_name: "EveMonk: EveOnline management suite",
                   locale: "en_US",
                 } %>

<div class="row">
  <div class="col">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><%= link_to("Home", root_path) %></li>
        <li class="breadcrumb-item active" aria-current="page">Alliances</li>
      </ol>
    </nav>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <td>&nbsp;</td>
          <td>Name</td>
          <td class="text-right">Corps</td>
          <td class="text-right">Members</td>
        </tr>
      </thead>
      <tbody>
        <% @alliances.each do |alliance| %>
          <tr>
            <td class="align-middle text-center"><%= image_tag(alliance.icon_tiny, class: "rounded") %></td>
            <td class="text-break"><%= link_to(alliance.name, universe_alliance_path(alliance.alliance_id)) %> (<%= alliance.ticker %>)</td>
            <td class="text-right"><%= number_with_delimiter(alliance.corporations_count, delimiter: " ") %></td>
            <td class="text-right"><%= number_with_delimiter(alliance.characters_count, delimiter: " ") %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="w-100"></div>

  <%= paginate @alliances %>
</div>
