<% set_meta_tags title: "Alliance &quot;#{@alliance.name}&quot; (#{@alliance.ticker})",
                 description: "Alliance &quot;#{@alliance.name}&quot; (#{@alliance.ticker})",
                 og: {
                   title: "EVE Online Alliance &quot;#{@alliance.name}&quot; (#{@alliance.ticker})",
                   url: universe_alliance_url(@alliance),
                   type: "website",
                   site_name: "EveMonk: EVE Online management suite",
                   locale: "en_US",
                   description: "EVE Online Alliance &quot;#{@alliance.name}&quot; (#{@alliance.ticker})",
                   image: @alliance.icon_medium
                 } %>

<div class="row">
  <div class="col">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><%= link_to("Home", root_path) %></li>
        <li class="breadcrumb-item"><%= link_to("Alliances", universe_alliances_path) %></li>
        <li class="breadcrumb-item active" aria-current="page"><%= @alliance.name %></li>
      </ol>
    </nav>
  </div>
</div>

<div class="row">
  <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
    <h4 class="text-center text-break">Alliance: <%= @alliance.name %></h4>

    <div class="card">
      <ul class="list-group list-group-flush">
        <li class="list-group-item text-center">
          <%= image_tag(@alliance.icon_large,
                        alt: @alliance.name,
                        class: "rounded border",
                        size: "130x130",
                        loading: "lazy") %>
        </li>
        <li class="list-group-item text-break">
          Ticker: <%= @alliance.ticker %>
        </li>
        <li class="list-group-item">
          Members: <%= @alliance.formatted_characters_count %>
        </li>
<!--        <li class="list-group-item">-->
<!--          Delta: -1-->
<!--        </li>-->
<!--        <li class="list-group-item">-->
<!--          Security status: 1.111-->
<!--        </li>-->
        <% if @alliance.creator %>
          <li class="list-group-item text-break">
            Creator: <%= link_to(@alliance.creator.name, universe_character_path(@alliance.creator)) %>
          </li>
        <% end %>
        <% if @alliance.executor_corporation %>
          <li class="list-group-item text-break">
            Executor: <%= link_to(@alliance.executor_corporation.name, universe_corporation_path(@alliance.executor_corporation.corporation_id)) %>
          </li>
        <% end %>
        <li class="list-group-item">
          Corporations: <%= @alliance.formatted_corporations_count %>
        </li>
      </ul>
      <p class="card-text text-center">
        <small class="text-muted">
          Last updated: <%= local_time_ago(@alliance.updated_at) %>
        </small>
      </p>
    </div>
  </div>

  <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8">
    <%= turbo_frame_tag "universe:alliance:#{@alliance.id}:corporations",
                        src: universe_alliance_corporations_path(@alliance),
                        target: "_top" do %>
      <h4 class="text-center">Loading...</h4>
    <% end %>
  </div>
</div>
