<% set_meta_tags title: "Largest alliances and corporations",
                 description: "Largest alliances and corporations in EVE Online",
                 og: {
                   title: "Largest alliances and corporations in EVE Online",
                   url: root_url,
                   type: "website",
                   site_name: "EveMonk: EVE Online management suite",
                   locale: "en_US",
                   description: "Largest alliances and corporations in EVE Online"
                 } %>

<div class="row">
  <div class="col">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page"><%= t("breadcrumb.home") %></li>
      </ol>
    </nav>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
    <%= turbo_frame_tag "alliances:top",
                        src: alliances_top_index_path,
                        target: "_top" do %>
      <h4 class="text-center">
        <%= link_to(t(".alliances_html"),
                    universe_alliances_path,
                    class: "text-decoration-none",
                    "data-hotkey": "a") %>
      </h4>

      <h4 class="text-center">Loading...</h4>
    <% end %>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
    <%= turbo_frame_tag "corporations:top",
                        src: corporations_top_index_path,
                        target: "_top" do %>
      <h4 class="text-center">
        <%= link_to(t(".corporations_html"),
                    universe_corporations_path,
                    class: "text-decoration-none",
                    "data-hotkey": "c") %>
      </h4>

      <h4 class="text-center">Loading...</h4>
    <% end %>
  </div>
</div>
