<% set_meta_tags title: "Largest alliances and corporations",
                 description: "Largest alliances and corporations in EVE Online",
                 og: {
                   title: "Largest alliances and corporations in EVE Online",
                   url: root_url,
                   type: "website",
                   site_name: "EveMonk: EVE Online management suite",
                   locale: "en_US",
                   description: "Largest alliances and corporations in EVE Online",
                   image: @alliances.first&.icon_medium
                 } %>

<div class="row">
  <div class="col">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page"><%= t("breadcrumb.home") %></li>
      </ol>
    </nav>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
    <%= turbo_frame_tag "alliances:top",
                        src: alliances_top_index_path,
                        target: "_top" do %>
      <h4 class="text-center">Loading...</h4>
    <% end %>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
    <h4 class="text-center">
      <%= link_to(t(".corporations_html"),
                  universe_corporations_path,
                  class: "text-decoration-none",
                  "data-hotkey": "c") %>
    </h4>

    <table class="table table-dark table-striped table-bordered">
      <thead>
        <tr>
          <th colspan="2" class="text-center">Name</th>
          <th class="text-end">Members</th>
        </tr>
      </thead>
      <tbody>
        <% @corporations.each do |corporation| %>
          <tr>
            <td class="text-center align-middle border-end-0 m-0 p-2">
              <%= image_tag(corporation.icon_small,
                            alt: corporation.name,
                            class: "rounded border",
                            size: "34x34",
                            loading: "lazy") %>
            </td>
            <td class="text-break align-middle border-start-0">
              <%= link_to(corporation.name, universe_corporation_path(corporation.corporation_id)) %>
            </td>
            <td class="text-end align-middle">
              <%= corporation.formatted_member_count %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
