<div class="row">
  <div class="col">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><%= link_to("Home", root_path) %></li>
        <li class="breadcrumb-item"><%= link_to("My characters", characters_path) %></li>
        <li class="breadcrumb-item"><%= link_to(@character.name, character_path(@character)) %></li>
        <li class="breadcrumb-item active" aria-current="page">Settings</li>
      </ol>
    </nav>
  </div>
</div>

<%= render partial: "characters/character_nav_bar",
           locals: {
             character: @character,
             page: :settings
           } %>

<hr class="text-dark">

<div class="row">
  <%= render partial: "characters/character_card_info",
             locals: {
               character: @character,
               full: false
             } %>

  <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
    <h4 class="text-center text-break">Settings</h4>

    <p>Old style scopes</p>

    <table class="table table-dark table-bordered table-striped">
      <tbody>
        <% @character.scopes.split(" ").each do |scope| %>
          <tr>
            <td><%= scope %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <p>New style scopes</p>

    <table class="table table-dark table-bordered table-striped">
      <thead>
        <tr>
          <th scope="col">scope</th>
          <th scope="col">present?</th>
          <th scope="col">valid?</th>
        </tr>
      </thead>

      <tbody>
        <% CharacterScope::SCOPES.each do |scope| %>
          <tr>
            <td><%= scope %></td>
            <td><%= (@character.character_scopes.select { |cs| cs.scope == scope }.size == 1) ? "Yes" : "No" %></td>
            <td>&nbsp;</td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
