<div class="row">
  <div class="col">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><%= link_to("Home", root_path) %></li>
        <li class="breadcrumb-item"><%= link_to("My characters", characters_path) %></li>
        <li class="breadcrumb-item"><%= link_to(@character.name, character_path(@character)) %></li>
        <li class="breadcrumb-item active" aria-current="page">Agents</li>
      </ol>
    </nav>
  </div>
</div>

<%= render partial: "characters/character_nav_bar",
           locals: {
             character: @character,
             page: :agents
           } %>

<hr class="text-dark">

<div class="row">
  <%= render partial: "characters/character_card_info",
             locals: {
               character: @character,
               full: false
             } %>

  <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
    <h4 class="text-center">Agents (<%= @character.agents_standings.size %>)</h4>

    <% @character.agents_standings.each_with_index do |standing, index| %>
      <div class="card <%= (index % 2 == 0) ? "bg-dark" : "bg-transparent" %> rounded-0 border-secondary <%= (index == 0) ? "" : "border-top-0" %>">
        <div class="row g-0">
          <div class="col-2 text-center m-auto">
            <% if standing.standingable %>
              <%= image_tag(standing.standingable&.icon_small,
                            alt: standing.standingable&.name,
                            class: "rounded border",
                            size: "34x34",
                            loading: "lazy") %>
            <% else %>
              &nbsp;
            <% end %>
          </div>
          <div class="col-8">
            <div class="card-body">
              <div class="card-text">
                <div class="row">
                  <div class="col-12">
                    <%= standing.standingable&.name %> <span class="text-muted">(Level <%= standing&.standingable&.level %>)</span>
                  </div>
                  <div class="col-12 text-muted">
                    <%= standing.standingable&.division&.name %>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-2 text-center m-auto">
            <%= standing.rounded_standing %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
