<div class="row">
  <div class="col">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><%= link_to("Home", root_path) %></li>
        <li class="breadcrumb-item"><%= link_to("My characters", characters_path) %></li>
        <li class="breadcrumb-item"><%= link_to(@character.name, character_path(@character)) %></li>
        <li class="breadcrumb-item active" aria-current="page">Industry Jobs</li>
      </ol>
    </nav>
  </div>
</div>

<%= render partial: "characters/character_nav_bar",
           locals: {
             character: @character,
             page: :industry_jobs
           } %>

<hr>

<div class="row">
  <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
    <div class="clearfix">
      <h4 class="float-left"><%= @character.name %></h4>
      <%= form_with(url: character_path(@character), method: :patch, class: "float-right") do %>
        <%= button_tag(class: "btn btn-primary mb-2") do %>
          <i class="bi bi-arrow-repeat"></i>
        <% end %>
      <% end %>
    </div>

    <div class="card">
      <ul class="list-group list-group-flush">
        <li class="list-group-item text-center">
          <%= image_tag(@character.icon_medium,
                        alt: @character.name,
                        class: "rounded border",
                        size: "130x130",
                        loading: "lazy") %>
        </li>
        <% if @character.corporation %>
          <li class="list-group-item text-break">
            Corporation: <%= link_to(@character.corporation.name,
                                     universe_corporation_path(@character.corporation.corporation_id)) %>
          </li>
        <% end %>
        <% if @character.alliance %>
          <li class="list-group-item text-break">
            Alliance: <%= link_to(@character.alliance.name,
                                  universe_alliance_path(@character.alliance)) %>
          </li>
        <% end %>
        <li class="list-group-item text-break">
          Total SP: <%= @character.full_sp_formatted %>
        </li>
        <% if @character.unallocated_sp && @character.unallocated_sp > 0 %>
          <li class="list-group-item text-break">
            Unallocated SP: <%= @character.unallocated_sp_formatted %>
          </li>
        <% end %>
        <li class="list-group-item text-break">
          Security status: <%= @character.rounded_security_status %>
        </li>
        <li class="list-group-item text-break">
          Wallet: <%= @character.wallet_formatted %> ISK
        </li>
      </ul>
      <p class="card-text text-center">
        <small class="text-muted">
          Last updated: <%= local_time_ago(@character.updated_at) %>
        </small>
      </p>
    </div>
  </div>

  <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
  </div>
</div>
