<% set_meta_tags title: "My characters",
                 description: "My characters" %>

<div class="row">
  <div class="col">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><%= link_to("Home", root_path) %></li>
        <li class="breadcrumb-item active" aria-current="page">My characters</li>
      </ol>
    </nav>
  </div>
</div>

<div class="row">
  <%= render @characters %>

  <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 text-center m-auto">
    <%= form_tag("/auth/eve_online_sso", data: {turbo: false}) do |f| %>
      <%= button_tag do %>
        <% image_uri = "https://web.ccpgamescdn.com/eveonlineassets/developers/eve-sso-login-black-large.png" %>
        <% image_uri = "#{Setting.image_proxy_url}#{image_uri}" if Setting.use_image_proxy %>
        <%= image_tag(image_uri, alt: "Sign in via EVE Online") %>
      <% end %>
    <% end %>
  </div>

  <div class="w-100"></div>

  <%= paginate @characters %>
</div>
