<div class="row">
  <div class="col">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><%= link_to("Home", root_path) %></li>
        <li class="breadcrumb-item"><%= link_to("My characters", characters_path) %></li>
        <li class="breadcrumb-item active" aria-current="page"><%= @character.name %></li>
      </ol>
    </nav>
  </div>
</div>

<%= render partial: "characters/character_nav_bar",
           locals: {
             character: @character,
             page: :sheet
           } %>

<hr class="text-dark">

<div class="row">
  <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
    <div class="clearfix">
      <h4 class="float-start"><%= @character.name %></h4>
      <div class="float-end">
        <%= form_with(url: character_path(@character.character_id), method: :patch, class: "float-end") do %>
          <%= button_tag(class: "btn btn-primary mb-2") do %>
            <%= inline_svg_tag "icons/arrow-repeat.svg" %>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="card">
      <ul class="list-group list-group-flush">
        <li class="list-group-item text-center">
          <%= image_tag(@character.icon_large,
                        alt: @character.name,
                        class: "rounded border",
                        size: "130x130",
                        loading: "lazy") %>
        </li>
        <% if @character.corporation %>
          <li class="list-group-item text-break">
            Corporation: <%= link_to(@character.corporation.name,
                                     universe_corporation_path(@character.corporation.corporation_id)) %>
          </li>
        <% end %>
        <% if @character.alliance %>
          <li class="list-group-item text-break">
            Alliance: <%= link_to(@character.alliance.name,
                                  universe_alliance_path(@character.alliance)) %>
          </li>
        <% end %>
        <% if @character.race && @character.bloodline && @character.ancestry %>
          <li class="list-group-item text-break">
            <%= @character.race.name %> / <%= @character.bloodline.name %> / <%= @character.ancestry.name %>
          </li>
        <% end %>
        <% if @character.race && @character.bloodline && @character.ancestry.blank? %>
          <li class="list-group-item text-break">
            <%= @character.race.name %> / <%= @character.bloodline.name %>
          </li>
        <% end %>
        <% if @character.faction %>
          <li class="list-group-item text-break">
            Faction: <%= @character.faction.name %>
          </li>
        <% end %>
        <li class="list-group-item">
          Gender: <%= @character.gender %>
        </li>
        <li class="list-group-item text-break">
          Total SP: <%= @character.full_sp_formatted %>
        </li>
        <% if @character.unallocated_sp && @character.unallocated_sp > 0 %>
          <li class="list-group-item text-break">
            Unallocated SP: <%= @character.unallocated_sp_formatted %>
          </li>
        <% end %>
        <li class="list-group-item text-break">
          Security status: <%= @character.rounded_security_status %>
        </li>
        <li class="list-group-item text-break">
          Wallet: <%= @character.wallet_formatted %> ISK
        </li>
        <li class="list-group-item text-break">
          Born: <%= @character.birthday_formatted %>
        </li>
      </ul>
      <p class="card-text text-center">
        <small class="text-muted">
          Last updated: <%= local_time_ago(@character.updated_at) %>
        </small>
      </p>
    </div>
  </div>

  <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
    <h4 class="text-center text-break">Current location &amp; ship</h4>

    <div class="card">
      <ul class="list-group list-group-flush">
        <% if @character.current_solar_system %>
          <li class="list-group-item text-center">
            System: <span class="text-success"><%= @character.current_solar_system.name %></span> (<%= @character.current_solar_system.rounded_security_status %>)
          </li>
        <% end %>

        <% if @character.current_station %>
          <li class="list-group-item text-center">
            Station: <span class="text-success"><%= @character.current_station.name %></span>
          </li>
        <% end %>

        <% if @character.current_ship_type %>
          <li class="list-group-item text-center">
            Ship: <%= link_to(@character.current_ship_type.name,
                              universe_type_path(@character.current_ship_type.type_id)) %>
          </li>

          <li class="list-group-item text-center">
            <%= image_tag(@character.current_ship_type.render_huge,
                          alt: @character.current_ship_type.name,
                          class: "rounded border",
                          size: "258x258",
                          loading: "lazy") %>
            <br>
            <%= @character.current_ship_name %>
            <!-- Show Est. price plus show full price of current fitted ship -->
          </li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
    <h4 class="text-center text-break">Attributes &amp; Implants (<%= @character.implants.size %>)</h4>

    <% if @character.perception_attribute %>
      <div class="card bg-dark rounded-0 border-secondary">
        <div class="row g-0">
          <div class="col-2 text-center m-auto">
            <%= image_tag(@character.perception_attribute&.icon&.icon_url,
                          alt: "Perception icon",
                          class: "rounded border",
                          size: "34x34",
                          loading: "lazy") %>
          </div>
          <div class="col-6">
            <div class="card-body">
              <button type="button" class="btn text-success text-decoration-underline m-0 p-0" data-bs-toggle="modal" data-bs-target="#perception_description">
                Perception:
              </button>
            </div>
          </div>
          <div class="col-4 text-center m-auto">
            <span class="text-success"><%= @character.perception %></span> (<%= "#{@character.perception_without_bonuses} + #{@character.perception_bonus.to_i}" %>)
          </div>
        </div>
      </div>

      <div class="modal fade" id="perception_description" tabindex="-1" aria-labelledby="perception_description_label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="perception_description_label">Perception</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <%= simple_format(@character.perception_attribute&.sanitized_description) %>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    <% end %>

    <% if @character.memory_attribute %>
      <div class="card bg-transparent rounded-0 border-secondary border-top-0">
        <div class="row g-0">
          <div class="col-2 text-center m-auto">
            <%= image_tag(@character.memory_attribute&.icon&.icon_url,
                          alt: "Memory icon",
                          class: "rounded border",
                          size: "34x34",
                          loading: "lazy") %>
          </div>
          <div class="col-6">
            <div class="card-body">
              <button type="button" class="btn text-success text-decoration-underline m-0 p-0" data-bs-toggle="modal" data-bs-target="#memory_description">
                Memory:
              </button>
            </div>
          </div>
          <div class="col-4 text-center m-auto">
            <span class="text-success"><%= @character.memory %></span> (<%= "#{@character.memory_without_bonuses} + #{@character.memory_bonus.to_i}" %>)
          </div>
        </div>
      </div>

      <div class="modal fade" id="memory_description" tabindex="-1" aria-labelledby="memory_description_label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="memory_description_label">Memory</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <%= simple_format(@character.memory_attribute&.sanitized_description) %>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    <% end %>

    <% if @character.willpower_attribute %>
      <div class="card bg-dark rounded-0 border-secondary border-top-0">
        <div class="row g-0">
          <div class="col-2 text-center m-auto">
            <%= image_tag(@character.willpower_attribute&.icon&.icon_url,
                          alt: "Willpower icon",
                          class: "rounded border",
                          size: "34x34",
                          loading: "lazy") %>
          </div>
          <div class="col-6">
            <div class="card-body">
              <button type="button" class="btn text-success text-decoration-underline m-0 p-0" data-bs-toggle="modal" data-bs-target="#willpower_description">
                Willpower:
              </button>
            </div>
          </div>
          <div class="col-4 text-center m-auto">
            <span class="text-success"><%= @character.willpower %></span> (<%= "#{@character.willpower_without_bonuses} + #{@character.willpower_bonus.to_i}" %>)
          </div>
        </div>
      </div>

      <div class="modal fade" id="willpower_description" tabindex="-1" aria-labelledby="willpower_description_label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="willpower_description_label">Willpower</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <%= simple_format(@character.willpower_attribute&.sanitized_description) %>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    <% end %>

    <% if @character.intelligence_attribute %>
      <div class="card bg-transparent rounded-0 border-secondary border-top-0">
        <div class="row g-0">
          <div class="col-2 text-center m-auto">
            <%= image_tag(@character.intelligence_attribute&.icon&.icon_url,
                          alt: "Intelligence icon",
                          class: "rounded border",
                          size: "34x34",
                          loading: "lazy") %>
          </div>
          <div class="col-6">
            <div class="card-body">
              <button type="button" class="btn text-success text-decoration-underline m-0 p-0" data-bs-toggle="modal" data-bs-target="#intelligence_description">
                Intelligence:
              </button>
            </div>
          </div>
          <div class="col-4 text-center m-auto">
            <span class="text-success"><%= @character.intelligence %></span> (<%= "#{@character.intelligence_without_bonuses} + #{@character.intelligence_bonus.to_i}" %>)
          </div>
        </div>
      </div>

      <div class="modal fade" id="intelligence_description" tabindex="-1" aria-labelledby="intelligence_description_label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="intelligence_description_label">Intelligence</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <%= simple_format(@character.intelligence_attribute&.sanitized_description) %>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    <% end %>

    <% if @character.charisma_attribute %>
      <div class="card bg-dark rounded-0 border-secondary border-top-0">
        <div class="row g-0">
          <div class="col-2 text-center m-auto">
            <%= image_tag(@character.charisma_attribute&.icon&.icon_url,
                          alt: "Charisma icon",
                          class: "rounded border",
                          size: "34x34",
                          loading: "lazy") %>
          </div>
          <div class="col-6">
            <div class="card-body">
              <button type="button" class="btn text-success text-decoration-underline m-0 p-0" data-bs-toggle="modal" data-bs-target="#charisma_description">
                Charisma:
              </button>
            </div>
          </div>
          <div class="col-4 text-center m-auto">
            <span class="text-success"><%= @character.charisma %></span> (<%= "#{@character.charisma_without_bonuses} + #{@character.charisma_bonus.to_i}" %>)
          </div>
        </div>
      </div>

      <div class="modal fade" id="charisma_description" tabindex="-1" aria-labelledby="charisma_description_label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="charisma_description_label">Charisma</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <%= simple_format(@character.charisma_attribute&.sanitized_description) %>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    <% end %>

    <% if Setting.enabled_neural_map_available %>
      <div class="card bg-transparent rounded-0 border-secondary border-top-0">
        <div class="row">
          <div class="col-12">
            <div class="card-header bg-transparent">
              Neural Remap Available: <%#= @character.neural_remap_available %>
            </div>
          </div>
        </div>
      </div>
    <% end %>

    <div class="card bg-transparent rounded-0 border-secondary border-top-0">
      <div class="row">
        <div class="col-12">
          <div class="card-header bg-transparent">
            Bonus Remap Available: <%= @character.bonus_remaps %>
          </div>
        </div>
      </div>
    </div>

    <br>

    <% @character.implants.each_with_index do |implant, index| %>
      <div class="card <%= (index % 2 == 0) ? "bg-dark" : "bg-transparent" %> rounded-0 border-secondary <%= (index == 0) ? "" : "border-top-0" %>">
        <div class="row g-0">
          <div class="col-2 text-center m-auto">
            <%= image_tag(implant.icon_tiny,
                          alt: implant.name,
                          class: "rounded border",
                          size: "34x34",
                          loading: "lazy") %>
          </div>
          <div class="col-10">
            <div class="card-body">
              <div class="card-text">
                <%= link_to(implant.name, universe_type_path(implant.type_id)) %>
              </div>
              <% implant.implant_bonuses.each do |bonus| %>
                <div class="card-text text-muted">
                  <%= bonus[:name] %> +<%= bonus[:value].to_i %>
                </div>
                <div class="card-text text-muted">
                  Est. <%= implant.average_price_formatted %> ISK
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
