<div class="row">
  <div class="col">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><%= link_to("Home", root_path) %></li>
        <li class="breadcrumb-item"><%= link_to("My characters", characters_path) %></li>
        <li class="breadcrumb-item active" aria-current="page"><%= @character.name %></li>
      </ol>
    </nav>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
    <h4 class="text-center text-break"><%= @character.name %></h4>

    <div class="card">
      <ul class="list-group list-group-flush">
        <li class="list-group-item text-center">
          <%= image_tag(@character.icon_medium,
                        alt: @character.name,
                        class: "rounded border",
                        size: "130x130",
                        loading: "lazy") %>
        </li>
        <% if @character.alliance %>
          <li class="list-group-item text-break">
            Alliance: <%= link_to(@character.alliance.name,
                                  universe_alliance_path(@character.alliance.alliance_id)) %>
          </li>
        <% end %>
        <% if @character.corporation %>
          <li class="list-group-item text-break">
            Corporation: <%= link_to(@character.corporation.name,
                                     universe_corporation_path(@character.corporation.corporation_id)) %>
          </li>
        <% end %>
        <li class="list-group-item text-break">
          Security status: <%= @character.security_status %>
        </li>
        <li class="list-group-item text-break">
          Wallet: <%= @character.wallet %>
        </li>
      </ul>
      <p class="card-text text-center">
        <small class="text-muted">
          Last updated <%= time_ago_in_words(@character.updated_at) %> ago
        </small>
      </p>
    </div>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
    <h4 class="text-center text-break">Attributes</h4>

    <table class="table table-striped table-bordered">
      <tbody>
        <tr>
          <td class="align-middle text-break">
            Charisma: <%= @character.charisma %>
          </td>
        </tr>
        <tr>
          <td class="align-middle text-break">
            Intelligence: <%= @character.intelligence %>
          </td>
        </tr>
        <tr>
          <td class="align-middle text-break">
            Memory: <%= @character.memory %>
          </td>
        </tr>
        <tr>
          <td class="align-middle text-break">
            Perception: <%= @character.perception %>
          </td>
        </tr>
        <tr>
          <td class="align-middle text-break">
            Willpower: <%= @character.willpower %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
    <h4 class="text-center text-break">Implants (<%= @character.implants.size %>)</h4>

    <table class="table table-striped table-bordered">
      <tbody>
        <% @character.implants.each do |implant| %>
          <tr>
            <td class="align-middle text-center border-right-0 m-0 p-2">
              <%= image_tag(implant.icon_tiny,
                            alt: implant.name,
                            class: "rounded border",
                            size: "34x34",
                            loading: "lazy") %>
            </td>
            <td class="align-middle text-break border-left-0">
              <%= implant.name %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </div>
</div>


<!--<div class="row">-->
<!--  <div class="">-->
<!--    <h2>Summary</h2>-->

<!--    <table class="table">-->
<!--      <tbody>-->
<!--        <tr>-->
<!--          <td><%#= @character.character_id %></td>-->
<!--        </tr>-->

<!--        <tr>-->
<!--          <td><%#= @character.gender %></td>-->
<!--        </tr>-->

<!--        <tr>-->
<!--          <td><%#= @character.description %></td>-->
<!--        </tr>-->

<!--        <tr>-->
<!--          <td><%#= @character.bonus_remaps %></td>-->
<!--        </tr>-->

<!--        <tr>-->
<!--          <td><%#= @character.last_remap_date %></td>-->
<!--        </tr>-->

<!--        <tr>-->
<!--          <td><%#= @character.accrued_remap_cooldown_date %></td>-->
<!--        </tr>-->

<!--        <tr>-->
<!--          <td><%#= @character.race_id %></td>-->
<!--        </tr>-->

<!--        <tr>-->
<!--          <td><%#= @character.bloodline_id %></td>-->
<!--        </tr>-->

<!--        <tr>-->
<!--          <td><%#= @character.ancestry_id %></td>-->
<!--        </tr>-->

<!--        <tr>-->
<!--          <td><%#= @character.faction_id %></td>-->
<!--        </tr>-->

<!--        <tr>-->
<!--          <td><%#= @character.current_solar_system_id %></td>-->
<!--        </tr>-->

<!--        <tr>-->
<!--          <td><%#= @character.current_station_id %></td>-->
<!--        </tr>-->

<!--        <tr>-->
<!--          <td><%#= @character.current_structure_id %></td>-->
<!--        </tr>-->

<!--        <tr>-->
<!--          <td><%#= @character.current_ship_item_id %></td>-->
<!--        </tr>-->

<!--        <tr>-->
<!--          <td><%#= @character.current_ship_name %></td>-->
<!--        </tr>-->

<!--        <tr>-->
<!--          <td><%#= @character.current_ship_type_id %></td>-->
<!--        </tr>-->
<!--      </tbody>-->
<!--    </table>-->
<!--  </div>-->

<!--  <div class="">-->
<!--    <h2>Skills</h2>-->
<!--  </div>-->

<!--  <div class="">-->
<!--    <h2>Loyalty points</h2>-->

<!--    <table class="table">-->
<!--      <thead>-->
<!--        <tr>-->
<!--          <th>corporation_id</th>-->
<!--          <th>loyalty_points</th>-->
<!--        </tr>-->
<!--      </thead>-->
<!--      <tbody>-->
        <%# @character.loyalty_points.each do |lp| %>
<!--          <tr>-->
<!--            <td><%#= lp.corporation&.name %></td>-->
<!--            <td><%#= lp.loyalty_points %></td>-->
<!--          </tr>-->
        <%# end %>
<!--      </tbody>-->
<!--    </table>-->
<!--  </div>-->

<!--</div>-->
