<div class="row">
  <div class="col">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><%= link_to("Home", root_path) %></li>
        <li class="breadcrumb-item"><%= link_to("My characters", characters_path) %></li>
        <li class="breadcrumb-item active" aria-current="page"><%= @character.name %></li>
      </ol>
    </nav>
  </div>
</div>

<div class="row">
  <div class="">
    <h2>Summary</h2>

    <table class="table">
      <tbody>
        <tr>
          <td><%= @character.character_id %></td>
        </tr>

        <tr>
          <td><%= @character.name %></td>
        </tr>

        <tr>
          <td><%= @character.gender %></td>
        </tr>

        <tr>
          <td><%= @character.description %></td>
        </tr>

        <tr>
          <td><%= @character.security_status %></td>
        </tr>

        <tr>
          <td><%= @character.wallet %></td>
        </tr>

        <tr>
          <td><%= @character.charisma %></td>
        </tr>

        <tr>
          <td><%= @character.intelligence %></td>
        </tr>

        <tr>
          <td><%= @character.memory %></td>
        </tr>

        <tr>
          <td><%= @character.perception %></td>
        </tr>

        <tr>
          <td><%= @character.willpower %></td>
        </tr>

        <tr>
          <td><%= @character.bonus_remaps %></td>
        </tr>

        <tr>
          <td><%= @character.last_remap_date %></td>
        </tr>

        <tr>
          <td><%= @character.accrued_remap_cooldown_date %></td>
        </tr>

        <tr>
          <td><%= @character.alliance_id %></td>
        </tr>

        <tr>
          <td><%= @character.corporation_id %></td>
        </tr>

        <tr>
          <td><%= @character.race_id %></td>
        </tr>

        <tr>
          <td><%= @character.bloodline_id %></td>
        </tr>

        <tr>
          <td><%= @character.ancestry_id %></td>
        </tr>

        <tr>
          <td><%= @character.faction_id %></td>
        </tr>

        <tr>
          <td><%= @character.current_solar_system_id %></td>
        </tr>

        <tr>
          <td><%= @character.current_station_id %></td>
        </tr>

        <tr>
          <td><%= @character.current_structure_id %></td>
        </tr>

        <tr>
          <td><%= @character.current_ship_item_id %></td>
        </tr>

        <tr>
          <td><%= @character.current_ship_name %></td>
        </tr>

        <tr>
          <td><%= @character.current_ship_type_id %></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="">
    <h2>Skills</h2>
  </div>

  <div class="">
    <h2>Loyalty points</h2>

    <table class="table">
      <thead>
        <tr>
          <th>corporation_id</th>
          <th>loyalty_points</th>
        </tr>
      </thead>
      <tbody>
        <% @character.loyalty_points.each do |lp| %>
          <tr>
            <td><%= lp.corporation_id %></td>
            <td><%= lp.loyalty_points %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="">
    <h2>Implants</h2>

    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
        </tr>
      </thead>

      <tbody>
        <% @character.implants.each do |implant| %>
          <tr>
            <td><%= implant.name %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>


</div>
