<div class="row">
  <div class="col">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><%= link_to("Home", root_path) %></li>
        <li class="breadcrumb-item"><%= link_to("My characters", characters_path) %></li>
        <li class="breadcrumb-item active" aria-current="page"><%= @character.name %></li>
      </ol>
    </nav>
  </div>
</div>

<ul class="nav nav-pills">
  <li class="nav-item">
    <%= link_to("Sheet", character_path(@character.character_id), class: "nav-link active") %>
  </li>
  <li class="nav-item">
    <%= link_to("Employment History", character_employment_histories_path(@character.character_id), class: "nav-link") %>
  </li>
  <% if Setting.enabled_assets %>
    <li class="nav-item">
      <%= link_to("Assets", character_assets_path(@character.character_id), class: "nav-link") %>
    </li>
  <% end %>
  <li class="nav-item">
    <%= link_to("Loyalty points", character_loyalty_points_path(@character.character_id), class: "nav-link") %>
  </li>
  <% if Setting.enabled_skillqueue %>
    <li class="nav-item">
      <%= link_to("Skill queue", character_skillqueues_path(@character.character_id), class: "nav-link") %>
    </li>
  <% end %>
  <% if Setting.enabled_skills %>
    <li class="nav-item">
      <%= link_to("Skills", character_skills_path(@character.character_id), class: "nav-link") %>
    </li>
  <% end %>
  <% if Setting.enabled_mails %>
    <li class="nav-item">
      <%= link_to("Mail", character_mails_path(@character.character_id), class: "nav-link") %>
    </li>
  <% end %>
  <% if Setting.enabled_standings %>
    <li class="nav-item">
      <%= link_to("Standings", character_standings_path(@character.character_id), class: "nav-link") %>
    </li>
  <% end %>
  <% if Setting.enabled_wallet_journal %>
    <li class="nav-item">
      <%= link_to("Wallet journal", nil, class: "nav-link") %>
    </li>
  <% end %>
  <% if Setting.enabled_wallet_transactions %>
    <li class="nav-item">
      <%= link_to("Wallet transactions", nil, class: "nav-link") %>
    </li>
  <% end %>
</ul>

<hr>

<div class="row">
  <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
    <div class="clearfix">
      <h4 class="float-left"><%= @character.name %></h4>
      <%= form_with(url: character_path(@character.character_id), model: @character, class: "float-right") do %>
        <%= button_tag(class: "btn btn-primary mb-2") do %>
          <%= image_tag("bootstrap-icons/icons/arrow-repeat.svg") %>
        <% end %>
      <% end %>
    </div>

    <div class="card">
      <ul class="list-group list-group-flush">
        <li class="list-group-item text-center">
          <%= image_tag(@character.icon_medium,
                        alt: @character.name,
                        class: "rounded border",
                        size: "130x130",
                        loading: "lazy") %>
        </li>
        <% if @character.corporation %>
          <li class="list-group-item text-break">
            Corporation: <%= link_to(@character.corporation.name,
                                     universe_corporation_path(@character.corporation.corporation_id)) %>
          </li>
        <% end %>
        <% if @character.alliance %>
          <li class="list-group-item text-break">
            Alliance: <%= link_to(@character.alliance.name,
                                  universe_alliance_path(@character.alliance.alliance_id)) %>
          </li>
        <% end %>
        <li class="list-group-item text-break">
          Race: <%= @character.race.name %>
        </li>
        <li class="list-group-item text-break">
          Bloodline: <%= @character.bloodline.name %>
        </li>
        <li class="list-group-item text-break">
          Ancestry: <%= @character.ancestry.name %>
        </li>
        <% if @character.faction %>
          <li class="list-group-item text-break">
            Faction: <%= @character.faction.name %>
          </li>
        <% end %>
        <li class="list-group-item">
          Gender: <%= @character.gender %>
        </li>
        <li class="list-group-item text-break">
          Total SP: <%= @character.full_sp_formatted %>
        </li>
        <% if @character.unallocated_sp && @character.unallocated_sp > 0 %>
          <li class="list-group-item text-break">
            Unallocated SP: <%= @character.unallocated_sp_formatted %>
          </li>
        <% end %>
        <li class="list-group-item text-break">
          Security status: <%= @character.security_status %>
        </li>
        <li class="list-group-item text-break">
          Wallet: <%= @character.wallet_formatted %> ISK
        </li>
        <li class="list-group-item text-break">
          Born: <%= @character.birthday_formatted %>
        </li>
      </ul>
      <p class="card-text text-center">
        <small class="text-muted">
          Last updated <%= time_ago_in_words(@character.updated_at) %> ago
        </small>
      </p>
    </div>
  </div>

  <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
    <h4 class="text-center text-break">Current location &amp; ship</h4>

    <div class="card">
      <ul class="list-group list-group-flush">
        <% if @character.current_solar_system %>
          <li class="list-group-item text-center">
            System: <%= @character.current_solar_system.name %>
          </li>
        <% end %>

        <% if @character.current_station %>
          <li class="list-group-item text-center">
            Station: <%= @character.current_station.name %>
          </li>
        <% end %>

        <% if @character.current_ship_type %>
          <li class="list-group-item text-center">
            Ship: <%= link_to(@character.current_ship_type.name,
                              universe_type_path(@character.current_ship_type.type_id)) %>
          </li>

          <li class="list-group-item text-center">
            <%= image_tag(@character.current_ship_type.render_large,
                          alt: @character.current_ship_type.name,
                          class: "rounded border",
                          size: "258x258",
                          loading: "lazy") %>
            <br>
            <%= @character.current_ship_name %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
    <h4 class="text-center text-break">Attributes &amp; Implants (<%= @character.implants.size %>)</h4>

    <div class="card bg-dark rounded-0 border-secondary">
      <div class="row no-gutters">
        <div class="col-2 text-center m-auto">
          <%= image_tag(@character.perception_attribute&.icon&.icon_url,
                        alt: "Perception icon",
                        class: "rounded border",
                        size: "34x34",
                        loading: "lazy") %>
        </div>
        <div class="col-8">
          <div class="card-body">
            <button type="button" class="btn text-success m-0 p-0" data-toggle="modal" data-target="#perception_description">
              Perception:
            </button>
          </div>
        </div>
        <div class="col-2 text-center m-auto">
          <%= @character.perception %>
        </div>
      </div>
    </div>

    <div class="modal fade" id="perception_description" tabindex="-1" role="dialog" aria-labelledby="perception_description_label" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="perception_description_label">Perception</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <%= @character.perception_attribute&.description %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <div class="card bg-transparent rounded-0 border-secondary border-top-0">
      <div class="row no-gutters">
        <div class="col-2 text-center m-auto">
          <%= image_tag(@character.memory_attribute&.icon&.icon_url,
                        alt: "Memory icon",
                        class: "rounded border",
                        size: "34x34",
                        loading: "lazy") %>
        </div>
        <div class="col-8">
          <div class="card-body">
            <button type="button" class="btn text-success m-0 p-0" data-toggle="modal" data-target="#memory_description">
              Memory:
            </button>
          </div>
        </div>
        <div class="col-2 text-center m-auto">
          <%= @character.memory %>
        </div>
      </div>
    </div>

    <div class="modal fade" id="memory_description" tabindex="-1" role="dialog" aria-labelledby="memory_description_label" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="memory_description_label">Memory</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <%= @character.memory_attribute&.description %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <div class="card bg-dark rounded-0 border-secondary border-top-0">
      <div class="row no-gutters">
        <div class="col-2 text-center m-auto">
          <%= image_tag(@character.willpower_attribute&.icon&.icon_url,
                        alt: "Willpower icon",
                        class: "rounded border",
                        size: "34x34",
                        loading: "lazy") %>
        </div>
        <div class="col-8">
          <div class="card-body">
            <button type="button" class="btn text-success m-0 p-0" data-toggle="modal" data-target="#willpower_description">
              Willpower:
            </button>
          </div>
        </div>
        <div class="col-2 text-center m-auto">
          <%= @character.willpower %>
        </div>
      </div>
    </div>

    <div class="modal fade" id="willpower_description" tabindex="-1" role="dialog" aria-labelledby="willpower_description_label" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="willpower_description_label">Willpower</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <%= @character.willpower_attribute&.description %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <div class="card bg-transparent rounded-0 border-secondary border-top-0">
      <div class="row no-gutters">
        <div class="col-2 text-center m-auto">
          <%= image_tag(@character.intelligence_attribute&.icon&.icon_url,
                        alt: "Intelligence icon",
                        class: "rounded border",
                        size: "34x34",
                        loading: "lazy") %>
        </div>
        <div class="col-8">
          <div class="card-body">
            <button type="button" class="btn text-success m-0 p-0" data-toggle="modal" data-target="#intelligence_description">
              Intelligence:
            </button>
          </div>
        </div>
        <div class="col-2 text-center m-auto">
          <%= @character.intelligence %>
        </div>
      </div>
    </div>

    <div class="modal fade" id="intelligence_description" tabindex="-1" role="dialog" aria-labelledby="intelligence_description_label" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="intelligence_description_label">Intelligence</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <%= @character.intelligence_attribute&.description %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <div class="card bg-dark rounded-0 border-secondary border-top-0">
      <div class="row no-gutters">
        <div class="col-2 text-center m-auto">
          <%= image_tag(@character.charisma_attribute&.icon&.icon_url,
                        alt: "Charisma icon",
                        class: "rounded border",
                        size: "34x34",
                        loading: "lazy") %>
        </div>
        <div class="col-8">
          <div class="card-body">
            <button type="button" class="btn text-success m-0 p-0" data-toggle="modal" data-target="#charisma_description">
              Charisma:
            </button>
          </div>
        </div>
        <div class="col-2 text-center m-auto">
          <%= @character.charisma %>
        </div>
      </div>
    </div>

    <div class="modal fade" id="charisma_description" tabindex="-1" role="dialog" aria-labelledby="charisma_description_label" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="charisma_description_label">Charisma</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <%= @character.charisma_attribute&.description %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <% if Setting.enabled_neural_map_available %>
      <div class="card bg-transparent rounded-0 border-secondary border-top-0">
        <div class="row">
          <div class="col-12">
            <div class="card-header bg-transparent">
              Neural Remap Available: <%#= @character.neural_remap_available %>
            </div>
          </div>
        </div>
      </div>
    <% end %>

    <div class="card bg-transparent rounded-0 border-secondary border-top-0">
      <div class="row">
        <div class="col-12">
          <div class="card-header bg-transparent">
            Bonus Remap Available: <%= @character.bonus_remaps %>
          </div>
        </div>
      </div>
    </div>

    <br>

    <% @character.implants.each_with_index do |implant, index| %>
      <div class="card <%= index % 2 == 0 ? "bg-dark" : "bg-transparent" %> rounded-0 border-secondary <%= index == 0 ? "" : "border-top-0" %>">
        <div class="row no-gutters">
          <div class="col-2 text-center m-auto">
            <%= image_tag(implant.icon_tiny,
                          alt: implant.name,
                          class: "rounded border",
                          size: "34x34",
                          loading: "lazy") %>
          </div>
          <div class="col-10">
            <div class="card-body">
              <%= link_to(implant.name, universe_type_path(implant.type_id)) %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
