<%# locals: (scope:) %>

<p>You need to log in via ESI (Eve Online API) with scope <code><%= scope %></code>.</p>

<p>You can log in with this scope below:</p>

<%= form_tag(user_eve_online_sso_omniauth_authorize_path, data: {turbo: false}) do %>
  <%= hidden_field_tag :scope, scope %>
  <%= button_tag do %>
    <% image_uri = "https://web.ccpgamescdn.com/eveonlineassets/developers/eve-sso-login-black-large.png" %>
    <% image_uri = "#{Setting.image_proxy_url}#{image_uri}" if Setting.use_image_proxy %>
    <%= image_tag(image_uri, alt: "Sign in via EVE Online") %>
  <% end %>
<% end %>
