<div class="row">
  <div class="col">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><%= link_to("Home", root_path) %></li>
        <li class="breadcrumb-item"><%= link_to("My characters", characters_path) %></li>
        <li class="breadcrumb-item"><%= link_to(@character.name, character_path(@character)) %></li>
        <li class="breadcrumb-item active" aria-current="page">Help</li>
      </ol>
    </nav>
  </div>
</div>

<%= render CharacterNavBarComponent.new(@character, "help") %>

<hr class="text-dark">

<div class="row">
  <%= render CharacterCardComponent.new(@character) %>

  <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
    <h4 class="text-center text-break">Help</h4>

    <div class="accordion" id="help_accordion">
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#help_1" aria-expanded="true" aria-controls="help_1">
            Why I don't see my wallet status?
          </button>
        </h2>

        <div id="help_1" class="accordion-collapse collapse" data-bs-parent="#help_accordion">
          <div class="accordion-body">
            <%= render "form", scope: "esi-wallet.read_character_wallet.v1" %>
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#help_2" aria-expanded="true" aria-controls="help_2">
            Why I don't see my loyalty points?
          </button>
        </h2>

        <div id="help_2" class="accordion-collapse collapse" data-bs-parent="#help_accordion">
          <div class="accordion-body">
            <%= render "form", scope: "esi-characters.read_loyalty.v1" %>
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#help_3" aria-expanded="true" aria-controls="help_3">
            Why I don't see my implants?
          </button>
        </h2>

        <div id="help_3" class="accordion-collapse collapse" data-bs-parent="#help_accordion">
          <div class="accordion-body">
            <%= render "form", scope: "esi-clones.read_implants.v1" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
