<div class="row">
  <div class="col">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><%= link_to("Home", root_path) %></li>
        <li class="breadcrumb-item"><%= link_to("My characters", characters_path) %></li>
        <li class="breadcrumb-item"><%= link_to(@character.name, character_path(@character)) %></li>
        <li class="breadcrumb-item active" aria-current="page">Help</li>
      </ol>
    </nav>
  </div>
</div>

<%= render CharacterNavBarComponent.new(@character, "help") %>

<hr class="text-dark">

<div class="row">
  <%= render CharacterCardComponent.new(@character) %>

  <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
    <h4 class="text-center text-break">Help</h4>
  </div>
</div>
