<div class="row">
  <div class="col">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><%= link_to("Home", root_path) %></li>
        <li class="breadcrumb-item"><%= link_to("My characters", characters_path) %></li>
        <li class="breadcrumb-item"><%= link_to(@character.name, character_path(@character)) %></li>
        <li class="breadcrumb-item active" aria-current="page">Training Queue</li>
      </ol>
    </nav>
  </div>
</div>

<%= render partial: "characters/character_nav_bar",
           locals: {
             character: @character,
             page: :training_queue
           } %>

<hr class="text-dark">

<div class="row">
  <%= render partial: "characters/character_card_info",
             locals: {
               character: @character,
               full: false
             } %>

  <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
    <h4 class="text-center text-break">Training Queue (<%= @skillqueues.size %>)</h4>

    <h6 class="text-center text-break">(Total: <%= TrainingQueueTotalTime.new(@skillqueues).total_time %>)</h6>

    <% @skillqueues.each_with_index do |skillqueue, index| %>
      <div class="card <%= (index % 2 == 0) ? "bg-dark" : "bg-transparent" %> rounded-0 border-secondary <%= (index == 0) ? "" : "border-top-0" %>">
        <div class="row g-0">
          <div class="col-9 card-body pl-2">
            <%= skillqueue.skill&.name %> <span class="text-success"><%= skillqueue.finished_level_formatted %></span>
          </div>
          <div class="col-3 card-body text-end pr-2">
            <%= skillqueue.time_left %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
