<%= turbo_frame_tag dom_id(@character, :blueprints) do %>
  <h4 class="text-center text-break">Blueprints (<%= @character_blueprints.size %>)</h4>

  <%= form_with(url: character_blueprints_lists_path(@character), method: :get, data: { controller: "form-submit" }) do |f| %>
    <%= f.select(:filter, @form.select_data, { selected: @form.selected },
                 {
                   class: "form-select",
                   "aria-label": "Blueprints filter",
                   data: {
                     action: "form-submit#submit_form"
                   }
                 }) %>
  <% end %>

  <% @character_blueprints.each_with_index do |character_blueprint, index| %>
    <%= render partial: "character_blueprint",
               locals: {
                 character_blueprint: character_blueprint,
                 index: index
               } %>
  <% end %>
<% end %>
