<div class="row justify-content-center">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
    <%= form_with(url: sign_in_path, model: @service, scope: :sign_in) do |f| %>
      <div class="form-group">
        <%= f.label :email, "Email address" %>
        <%= f.email_field :email, class: "form-control", placeholder: "Email address", required: true, autofocus: true %>
      </div>

      <div class="form-group">
        <%= f.label :password, "Password" %>
        <%= f.password_field :password, class: "form-control", placeholder: "Password", required: true %>
      </div>

<!--      <div class="form-group form-check">-->
        <%#= f.label :remember_me, "Remember me" %>
        <%#= f.check_box :remember_me, class: "form-check-input" %>
<!--      </div>-->

      <div class="text-center">
        <%= f.submit "Sign in", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
