<div class="row">
  <div class="col">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><%= link_to("Home", root_path) %></li>
        <li class="breadcrumb-item"><%= link_to("My characters", characters_path) %></li>
        <li class="breadcrumb-item"><%= link_to(@character.name, character_path(@character)) %></li>
        <li class="breadcrumb-item active" aria-current="page">Certificates</li>
      </ol>
    </nav>
  </div>
</div>

<%= render partial: "characters/character_nav_bar",
           locals: {
             character: @character,
             page: :certificates
           } %>

<hr class="text-dark">

<div class="row">
  <%= render partial: "characters/character_card_info",
             locals: {
               character: @character,
               full: false
             } %>

  <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
    <h4 class="text-center text-break">Certificates</h4>

    <div class="accordion" id="certificates_tree_accordion">
      <% @character_certificates_tree.groups.each do |group| %>
        <div class="card">
          <div class="card-header" id="heading_group_<%= group.group_id %>">
            <h2 class="mb-0">
              <button class="btn btn-link collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#collapse_<%= group.group_id %>"
                      aria-expanded="true"
                      aria-controls="collapse_<%= group.group_id %>">
                <!-- TODO: add icon -->
                <%= group.name %>
              </button>
            </h2>
          </div>

          <div id="collapse_<%= group.group_id %>"
               class="collapse"
               aria-labelledby="heading_group_<%= group.group_id %>"
               data-parent="#certificates_tree_accordion">
            <div class="card-body m-0 p-0">
              <% @character_certificates_tree.certificates_in_group(group.group_id).each do |certificate| %>
                <div class="row">
                  <div class="col-12">
                    <!-- start another accordion -->
                    <div class="accordion" id="certificate_accordion_<%= certificate.id %>">
                      <div class="card">
                        <div class="card-header" id="heading_certificate_<%= certificate.id %>">
                          <h2 class="mb-0">
                            <button class="btn btn-link btn-dark collapsed"
                                    type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#certificate_collapse_<%= certificate.id %>"
                                    aria-expanded="true"
                                    aria-controls="certificate_collapse_<%= certificate.id %>">
                              <!-- TODO: add icon -->
                              <%= certificate.name %><!-- <%#= @character_certificates_tree.certificate_level(certificate.id) %>-->
                            </button>
                          </h2>
                        </div>

                        <div id="certificate_collapse_<%= certificate.id %>"
                             class="collapse"
                             aria-labelledby="heading_certificate_<%= certificate.id %>"
                             data-parent="#certificate_accordion_<%= certificate.id %>">
<!--                          Hello-->
                          TODO: later...
                        </div>
                      </div>
                    </div>
                    <!-- end another accordion -->
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
