<div class="row">
  <div class="col">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><%= link_to("Home", root_path) %></li>
        <li class="breadcrumb-item"><%= link_to("My characters", characters_path) %></li>
        <li class="breadcrumb-item"><%= link_to(@character.name, character_path(@character)) %></li>
        <li class="breadcrumb-item active" aria-current="page">Certificates</li>
      </ol>
    </nav>
  </div>
</div>

<%= render partial: "characters/character_nav_bar",
           locals: {
             character: @character,
             page: :certificates
           } %>

<hr class="text-dark">

<div class="row">
  <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
    <div class="clearfix">
      <h4 class="float-start"><%= @character.name %></h4>
      <%= form_with(url: character_path(@character), method: :patch, class: "float-end") do %>
        <%= button_tag(class: "btn btn-primary mb-2") do %>
          <%= inline_svg_tag "icons/arrow-repeat.svg" %>
        <% end %>
      <% end %>
    </div>

    <div class="card">
      <ul class="list-group list-group-flush">
        <li class="list-group-item text-center">
          <%= image_tag(@character.icon_large,
                        alt: @character.name,
                        class: "rounded border",
                        size: "130x130",
                        loading: "lazy") %>
        </li>
        <% if @character.corporation %>
          <li class="list-group-item text-break">
            Corporation: <%= link_to(@character.corporation.name,
                                     universe_corporation_path(@character.corporation.corporation_id)) %>
          </li>
        <% end %>
        <% if @character.alliance %>
          <li class="list-group-item text-break">
            Alliance: <%= link_to(@character.alliance.name,
                                  universe_alliance_path(@character.alliance)) %>
          </li>
        <% end %>
        <li class="list-group-item text-break">
          Total SP: <%= @character.full_sp_formatted %>
        </li>
        <% if @character.unallocated_sp && @character.unallocated_sp > 0 %>
          <li class="list-group-item text-break">
            Unallocated SP: <%= @character.unallocated_sp_formatted %>
          </li>
        <% end %>
        <li class="list-group-item text-break">
          Security status: <%= @character.rounded_security_status %>
        </li>
        <li class="list-group-item text-break">
          Wallet: <%= @character.wallet_formatted %> ISK
        </li>
      </ul>
      <p class="card-text text-center">
        <small class="text-muted">
          Last updated: <%= local_time_ago(@character.updated_at) %>
        </small>
      </p>
    </div>
  </div>

  <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
    <h4 class="text-center text-break">Certificates</h4>

    <div class="accordion" id="certificates_tree_accordion">
      <% @character_certificates_tree.groups.each do |group| %>
        <div class="card">
          <div class="card-header" id="heading_group_<%= group.group_id %>">
            <h2 class="mb-0">
              <button class="btn btn-link collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#collapse_<%= group.group_id %>"
                      aria-expanded="true"
                      aria-controls="collapse_<%= group.group_id %>">
                <!-- TODO: add icon -->
                <%= group.name %>
              </button>
            </h2>
          </div>

          <div id="collapse_<%= group.group_id %>"
               class="collapse"
               aria-labelledby="heading_group_<%= group.group_id %>"
               data-parent="#certificates_tree_accordion">
            <div class="card-body m-0 p-0">
              <% @character_certificates_tree.certificates_in_group(group.group_id).each do |certificate| %>
                <div class="row">
                  <div class="col-12">
                    <!-- start another accordion -->
                    <div class="accordion" id="certificate_accordion_<%= certificate.certificate_id %>">
                      <div class="card">
                        <div class="card-header" id="heading_certificate_<%= certificate.certificate_id %>">
                          <h2 class="mb-0">
                            <button class="btn btn-link btn-dark collapsed"
                                    type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#certificate_collapse_<%= certificate.certificate_id %>"
                                    aria-expanded="true"
                                    aria-controls="certificate_collapse_<%= certificate.certificate_id %>">
                              <!-- TODO: add icon -->
                              <%= certificate.name %><!-- <%#= @character_certificates_tree.certificate_level(certificate.certificate_id) %>-->
                            </button>
                          </h2>
                        </div>

                        <div id="certificate_collapse_<%= certificate.certificate_id %>"
                             class="collapse"
                             aria-labelledby="heading_certificate_<%= certificate.certificate_id %>"
                             data-parent="#certificate_accordion_<%= certificate.certificate_id %>">
<!--                          Hello-->
                          TODO: later...
                        </div>
                      </div>
                    </div>
                    <!-- end another accordion -->
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
