<div class="row">
  <div class="col">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><%= link_to("Home", root_path) %></li>
        <li class="breadcrumb-item"><%= link_to("My characters", characters_path) %></li>
        <li class="breadcrumb-item"><%= link_to(@character.name, character_path(@character)) %></li>
        <li class="breadcrumb-item active" aria-current="page">Employment History</li>
      </ol>
    </nav>
  </div>
</div>

<%= render partial: "characters/character_nav_bar",
           locals: {
             character: @character,
             page: :employment_history
           } %>

<hr class="text-dark">

<div class="row">
  <%= render partial: "characters/character_card_info",
             locals: {
               character: @character,
               full: false
             } %>

  <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
    <h4 class="text-center">Employment History (<%= @character_corporation_histories.size %>)</h4>

    <table class="table table-dark table-striped table-bordered">
      <thead>
        <tr>
          <th colspan="2" class="text-center">Corporation</th>
          <th class="text-end">Joined at</th>
        </tr>
      </thead>

      <tbody>
        <% @character_corporation_histories.each do |record| %>
          <%# In some cases we don't have corporation yet in db %>
          <% if record.corporation %>
            <tr>
              <td class="align-middle text-center border-end-0 m-0 p-2">
                <%= image_tag(record.corporation.icon_small,
                              alt: record.corporation.name,
                              class: "rounded border",
                              size: "34x34",
                              loading: "lazy") %>
              </td>
              <td class="align-middle text-break border-start-0">
                <%= link_to(record.corporation.name, universe_corporation_path(record.corporation)) %>
              </td>
              <td class="align-middle text-end">
                <%= time_ago_in_words(record.start_date) %>
              </td>
            </tr>
          <% else %>
            <tr>
              <td colspan="2">&nbsp;</td>
              <td class="text-end"><%= time_ago_in_words(record.start_date) %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
