<div class="row">
  <div class="col">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><%= link_to("Home", root_path) %></li>
        <li class="breadcrumb-item"><%= link_to("My characters", characters_path) %></li>
        <li class="breadcrumb-item"><%= link_to(@character.name, character_path(@character)) %></li>
        <li class="breadcrumb-item active" aria-current="page">Employment History</li>
      </ol>
    </nav>
  </div>
</div>

<%= render partial: "characters/character_nav_bar",
           locals: {
             character: @character,
             page: :employment_history
           } %>

<hr class="text-dark">

<div class="row">
  <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
    <div class="clearfix">
      <h4 class="float-start"><%= @character.name %></h4>
      <%= form_with(url: character_path(@character), method: :patch, class: "float-end") do %>
        <%= button_tag(class: "btn btn-primary mb-2") do %>
          <%= inline_svg_tag "icons/arrow-repeat.svg" %>
        <% end %>
      <% end %>
    </div>

    <div class="card">
      <ul class="list-group list-group-flush">
        <li class="list-group-item text-center">
          <%= image_tag(@character.icon_medium,
                        alt: @character.name,
                        class: "rounded border",
                        size: "130x130",
                        loading: "lazy") %>
        </li>
        <% if @character.corporation %>
          <li class="list-group-item text-break">
            Corporation: <%= link_to(@character.corporation.name,
                                     universe_corporation_path(@character.corporation.corporation_id)) %>
          </li>
        <% end %>
        <% if @character.alliance %>
          <li class="list-group-item text-break">
            Alliance: <%= link_to(@character.alliance.name,
                                  universe_alliance_path(@character.alliance)) %>
          </li>
        <% end %>
        <li class="list-group-item text-break">
          Total SP: <%= @character.full_sp_formatted %>
        </li>
        <% if @character.unallocated_sp && @character.unallocated_sp > 0 %>
          <li class="list-group-item text-break">
            Unallocated SP: <%= @character.unallocated_sp_formatted %>
          </li>
        <% end %>
        <li class="list-group-item text-break">
          Security status: <%= @character.rounded_security_status %>
        </li>
        <li class="list-group-item text-break">
          Wallet: <%= @character.wallet_formatted %> ISK
        </li>
      </ul>
      <p class="card-text text-center">
        <small class="text-muted">
          Last updated: <%= local_time_ago(@character.updated_at) %>
        </small>
      </p>
    </div>
  </div>

  <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
    <h4 class="text-center">Employment History (<%= @character_corporation_histories.size %>)</h4>

    <table class="table table-dark table-striped table-bordered">
      <thead>
        <tr>
          <th colspan="2" class="text-center">Corporation</th>
          <th class="text-end">Joined at</th>
        </tr>
      </thead>

      <tbody>
        <% @character_corporation_histories.each do |record| %>
          <%# In some cases we don't have corporation yet in db %>
          <% if record.corporation %>
            <tr>
              <td class="align-middle text-center border-end-0 m-0 p-2">
                <%= image_tag(record.corporation.icon_tiny,
                              alt: record.corporation.name,
                              class: "rounded border",
                              size: "34x34",
                              loading: "lazy") %>
              </td>
              <td class="align-middle text-break border-start-0">
                <%= link_to(record.corporation.name, universe_corporation_path(record.corporation.corporation_id)) %>
              </td>
              <td class="align-middle text-end">
                <%= time_ago_in_words(record.start_date) %>
              </td>
            </tr>
          <% else %>
            <tr>
              <td colspan="2">&nbsp;</td>
              <td class="text-end"><%= time_ago_in_words(record.start_date) %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
