<h2>Character {{ id }}</h2>

<table class="table table-bordered table-striped table-hover">
    <tr>
        <td>ID:</td>
        <td>{{ id }}</td>
    </tr>
    <tr>
        <td>UID:</td>
        <td>{{ uid }}</td>
    </tr>
    <tr>
        <td>Name:</td>
        <td>{{ name }}</td>
    </tr>
    <tr>
        <td>corporation_id:</td>
        <td>{{ corporation_id }}</td>
    </tr>
    <tr>
        <td>birthday:</td>
        <td>{{ birthday }}</td>
    </tr>
    <tr>
        <td>gender:</td>
        <td>{{ gender }}</td>
    </tr>
    <tr>
        <td>race_id:</td>
        <td>{{ race_id }}</td>
    </tr>
    <tr>
        <td>bloodline_id:</td>
        <td>{{ bloodline_id }}</td>
    </tr>
    <tr>
        <td>description:</td>
        <td>{{ description }}</td>
    </tr>
    <tr>
        <td>ancestry_id:</td>
        <td>{{ ancestry_id }}</td>
    </tr>
    <tr>
        <td>security_status:</td>
        <td>{{ security_status }}</td>
    </tr>
    <tr>
        <td>portrait:</td>
        <td>{{ portrait.small }}</td>
    </tr>
    <tr>
        <td>portrait:</td>
        <td>{{ portrait.medium }}</td>
    </tr>
    <tr>
        <td>portrait:</td>
        <td>{{ portrait.large }}</td>
    </tr>
    <tr>
        <td>portrait:</td>
        <td>{{ portrait.huge }}</td>
    </tr>
    <tr>
        <td>Created at:</td>
        <td>{{ created_at }}</td>
    </tr>
    <tr>
        <td>Updated at:</td>
        <td>{{ updated_at }}</td>
    </tr>
    <tr>
        <td colspan="2"><button class="btn btn-danger destroy">Destroy</button></td>
    </tr>
</table>
