<h2>Character {{ id }}</h2>

<table class="table table-bordered table-striped table-hover">
    <tr>
        <td>ID:</td>
        <td>{{ id }}</td>
    </tr>
    <tr>
        <td>UID:</td>
        <td>{{ uid }}</td>
    </tr>
    <tr>
        <td>Name:</td>
        <td>{{ name }}</td>
    </tr>
    <tr>
        <td>Description:</td>
        <td>{{ description }}</td>
    </tr>
    <tr>
        <td>corporation_id:</td>
        <td>{{ corporation_id }}</td>
    </tr>
    <tr>
        <td>birthday:</td>
        <td>{{ birthday }}</td>
    </tr>
    <tr>
        <td>Gender:</td>
        <td>{{ gender }}</td>
    </tr>
    <tr id="race">
    </tr>
    <tr id="bloodline">
    </tr>
    <tr id="faction">
    </tr>
    <tr>
        <td>ancestry_id:</td>
        <td>{{ ancestry_id }}</td>
    </tr>
    <tr>
        <td>security_status:</td>
        <td>{{ security_status }}</td>
    </tr>
    <tr>
        <td>portrait:</td>
        <td>{{ portrait.small }}</td>
    </tr>
    <tr>
        <td>portrait:</td>
        <td>{{ portrait.medium }}</td>
    </tr>
    <tr>
        <td>portrait:</td>
        <td>{{ portrait.large }}</td>
    </tr>
    <tr>
        <td>portrait:</td>
        <td>{{ portrait.huge }}</td>
    </tr>
    <tr>
        <td>Wallet:</td>
        <td>{{ wallet }}</td>
    </tr>
    <tr>
        <td>Charisma:</td>
        <td>{{ charisma }} points</td>
    </tr>
    <tr>
        <td>Intelligence:</td>
        <td>{{ intelligence }} points</td>
    </tr>
    <tr>
        <td>Memory:</td>
        <td>{{ memory }} points</td>
    </tr>
    <tr>
        <td>Perception:</td>
        <td>{{ perception }} points</td>
    </tr>
    <tr>
        <td>Willpower:</td>
        <td>{{ willpower }} points</td>
    </tr>
    <tr>
        <td>Bonus remaps:</td>
        <td>{{ bonus_remaps }}</td>
    </tr>
    <tr>
        <td>Created at:</td>
        <td>{{ created_at }}</td>
    </tr>
    <tr>
        <td>Updated at:</td>
        <td>{{ updated_at }}</td>
    </tr>
    <tr>
        <td colspan="2"><button class="btn btn-danger destroy">Destroy</button></td>
    </tr>
</table>
