<h2>Character {{ id }}</h2>

<table class="table table-bordered table-striped table-hover">
    <tr>
        <td>ID:</td>
        <td>{{ id }}</td>
    </tr>
    <tr>
        <td>UID:</td>
        <td>{{ uid }}</td>
    </tr>
    <tr>
        <td>Name:</td>
        <td>{{ name }}</td>
    </tr>
    <tr>
        <td>Created at:</td>
        <td>{{ created_at }}</td>
    </tr>
    <tr>
        <td>Updated at:</td>
        <td>{{ updated_at }}</td>
    </tr>
    <tr>
        <td colspan="2"><button class="btn btn-danger destroy">Destroy</button></td>
    </tr>
</table>
