<!DOCTYPE html>
<html>
  <head>
    <title>Evemonk</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>

  <body>
    <div class="container">
      <div id="header">
      </div>


      <%= yield %>

      <div id="content">
      </div>
    </div>

    <%= javascript_include_tag 'application' %>

    <script>
        $(document).ready(function() {
            EvemonkApp.initialize();
        });
    </script>

    <%= yield :javascript %>
  </body>
</html>
