<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= display_meta_tags site: "EveMonk: EveOnline management suite",
                          reverse: true %>

    <!-- Disable translation prompt -->
    <meta name="google" content="notranslate">

    <!-- Force IE 8/9/10 to use its latest rendering engine -->
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <%= yield %>

      <div class="w-100"></div>

      <div class="row text-center">
        <div class="col">
          &copy; 2016 &mdash; 2019 <strong>EveMonk</strong>
        </div>
      </div>
    </div>
  </body>
</html>
