<!DOCTYPE html>
<html>
  <head>
    <title>EveMonk: EveOnline management suite</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>

  <body>
    <div class="container">
      <div id="header">
      </div>

      <div id="flash">
      </div>

      <%= yield %>

      <div id="content">
      </div>
    </div>

    <%= javascript_include_tag 'application' %>

    <script>
        $(document).ready(function() {
            EvemonkApp.initialize();
        });
    </script>

    <%= yield :javascript %>
  </body>
</html>
