<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags for bootstrap -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= display_meta_tags site: "EveMonk: EVE Online management suite",
                          reverse: true %>

    <!-- Disable translation prompt -->
    <meta name="google" content="notranslate">

    <!-- Disable automatic detection and formatting of possible phone numbers -->
    <meta name="format-detection" content="telephone=no">

    <% if Setting.use_google_search_console %>
      <!-- Google Search Console -->
      <meta name="google-site-verification" content="<%= Setting.google_site_verification_token %>">
    <% end %>

    <% if Setting.use_plausible_evemonk %>
      <%= render "shared/plausible" %>
    <% end %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_pack_tag "application", media: "all", "data-turbo-track": "reload" %>
    <%= javascript_pack_tag "application", "data-turbo-track": "reload" %>
  </head>
  <body>
    <div class="container">
      <nav class="navbar navbar-expand-md navbar-dark bg-dark rounded-bottom" aria-label="Navbar">
        <div class="container-fluid">
          <%= link_to("EveMonk", root_url, class: "navbar-brand") %>
          <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbars" aria-controls="navbars" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="navbar-collapse collapse" id="navbar">
            <ul class="navbar-nav">
              <% if current_user %>
                <li class="nav-item">
                  <%= link_to("My characters", characters_path, class: "nav-link") %>
                </li>
                <li class="nav-item">
                  <%= link_to("Profile", profile_path, class: "nav-link") %>
                </li>
                <li class="nav-item">
                  <%= link_to("Sign Out", destroy_user_session_path, method: :delete, class: "nav-link") %>
                </li>
              <% else %>
                <li class="nav-item">
                  <%= link_to("Sign In", new_user_session_path, class: "nav-link") %>
                </li>
                <li class="nav-item">
                  <%= link_to("Sign Up", new_user_registration_path, class: "nav-link") %>
                </li>
              <% end %>
            </ul>
          </div>

<!--          <div class="navbar-collapse collapse" id="navbar" style="">-->
<!--            <ul class="navbar-nav me-auto mb-2 mb-lg-0">-->
<!--              <li class="nav-item">-->
<!--                <a class="nav-link active" aria-current="page" href="#">Home</a>-->
<!--              </li>-->
<!--              <li class="nav-item">-->
<!--                <a class="nav-link" href="#">Link</a>-->
<!--              </li>-->
<!--              <li class="nav-item">-->
<!--                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>-->
<!--              </li>-->
<!--              <li class="nav-item dropdown">-->
<!--                <a class="nav-link dropdown-toggle" href="#" id="dropdown09" data-bs-toggle="dropdown" aria-expanded="false">Dropdown</a>-->
<!--                <ul class="dropdown-menu" aria-labelledby="dropdown09">-->
<!--                  <li><a class="dropdown-item" href="#">Action</a></li>-->
<!--                  <li><a class="dropdown-item" href="#">Another action</a></li>-->
<!--                  <li><a class="dropdown-item" href="#">Something else here</a></li>-->
<!--                </ul>-->
<!--              </li>-->
<!--            </ul>-->
<!--          </div>-->
        </div>
      </nav>


      <%= yield %>
    </div>
  </body>
</html>
